[2018-08-08 12:13] sksamuel commented on #394
Do you have DEBUG logging enabled for all namespaces?

[2018-08-08 12:32] docent commented on #394
@sksamuel I haven't enabled anything, but it seems it was Spring Boot's fault, they somehow configure it to be DEBUG by default. Apologies - I'm closing the issue.

[2018-08-08 12:32] #394 closed

[2018-08-08 12:41] sksamuel commented on #394
No problem. I might change it to TRACE so it's harder to enable it by accident.

[2018-08-09 23:10] #393 closed

[2018-08-09 23:13] sksamuel commented on #387
In the end I've added `shouldThrowUnit` until this anomaly is fixed by Jetbrains.

[2018-08-09 23:13] #387 closed

[2018-08-10 10:41] vlsi opened #395 "Support for snapshot testing"
Consider the following test case:

Given a SQL query the system should produce the following results (in any order).
The case is repeated for various SQL queries.

Of course I can use

[code]

however if the implementation changes, then it would be very hard to update all the test to new expected values.
It would basically force the developer to manually go and update each and every `assert` state

[2018-08-10 14:45] mlvandijk commented on #232
Had the same problem and fixed it by upgrading, as suggested:

Old dependency:
[code]

**replaced with**

new dependencies:
[code]

and it works like a charm. Thanks!

[2018-08-11 17:25] ghostbuster91 commented on #184
@sksamuel Hi some time ago I created an intellij idea plugin for other test framework, which does something similar I belive. I don't know if I will have time to develop another one for kotlintest but I think that you might find it helpful.
https://github.com/ghostbuster91/nspek-intellij-plugin
Let me know if you will have any questions

[2018-08-27 01:50] kintomiko commented on #184
@sksamuel
context is not available as a field in AbstractFeatureSpec now

[2018-08-27 22:34] pwittchen opened #398 "Code coverage report configuration in Gradle"
Hi,

Thanks for the nice library!

Do you have any suggestions or examples showing how can I configure `kotlintest` in Gradle in order to generate test coverage reports with Jacoco (or any other tool)? It would be nice to have an example both for pure Kotlin app and Android app. Honestly, I had problems with configuring it for Kotlin project on Android with regular JUnit tests even without your li

[2018-08-28 22:51] pwittchen commented on #398
Ok, I managed to generate unit test coverage report in Kotlin Android project with pure JUnit tests. You can check this commit: https://github.com/pwittchen/RxBattery/commit/3942d5df296aea34261c67d55fbb610e42605c8f. I tried to apply the same approach in another project using `kotlintest`, but it didn't work, so now I have issues only with `kotlintest`.

[2018-08-31 14:30] gaydenko opened #399 "[Q] How to compose specs?"
Is it possible to compose specs (that is a set of classes extending some of Spec)?

[2018-09-02 18:33] sksamuel commented on #399
So you have two separate classes that extend Spec and you want to combine them together?

[2018-09-11 06:20] sschuberth opened #402 "Better support for comparing multi-line strings"
When doing

    actualResult shouldBe expectedResult

where both `actualResult` and `expectedResult` are (long) multi-line strings, console output in case of a mismatch could be improved. Currently, as can be seen e.g. [here](https://ci.appveyor.com/project/heremaps/oss-review-toolkit/build/1.0.3355#L2861), console output starts with the expected text. However, as that text is long and console out

[2018-09-12 11:34] jensim opened #404 "Add infix modifier to collections matchers"
[code]

[code]

This is not applicable to vararg param functions due to limitation in language, but it would look better in for all collections matchers where it is possible.

[2018-09-12 12:15] sksamuel commented on #404
Yes good idea.

[2018-09-12 12:30] jensim commented on #404
I forked master and created a branch with the `infix` added

[2018-09-12 12:32] sksamuel commented on #404
Excellent. Please make a PR and I'll merge.

[2018-09-12 12:52] sksamuel commented on #404
I'll include this in 3.1.10

[2018-09-12 21:05] Kerooker commented on #385
For now, I couldn't reproduce this specific scenario anymore.

If I come through this again, I'll open a new ticket.

I'll close this one for now.

[2018-09-12 21:05] #385 closed

[2018-09-12 21:42] Kerooker opened #406 "Add more tests for Date Matchers"
The code for Date Matchers (package `io.kotlintest.matchers.date`, file `matchers.kt`) has a lot of extension  functions to match Dates (LocalDateTime, LocalDate, ...).

There is one test class, called `DateMatchersTest`. However, some methods are not tested in this class. Some examples:

- `fun LocalDateTime.shouldHaveSameYearAs(date: LocalDateTime);`
- `fun ZonedDateTime.shouldBeAfter(date: Zone

[2018-09-12 21:42] Kerooker commented on #406
Currently working on this.

[2018-09-12 21:43] sksamuel commented on #406
It will be good to cover this.

[2018-09-12 22:01] Kerooker commented on #406
Merged, resolving this issue.

[2018-09-12 22:01] #406 closed

[2018-09-12 22:05] Kerooker opened #408 "Add infix modifier to Date Matchers"
The code for Date Matchers (package io.kotlintest.matchers.date, file matchers.kt) has a lot of extension functions to match Dates (LocalDateTime, LocalDate, ...).

Some of these matchers should be used with an infix annotation, so

`firstDate.shouldHaveSameYearAs(secondDate)`
can be converted to

`firstDate shouldHaveSameYearAs secondDate`

This kind of behavior happens for a lot of matchers, for

[2018-09-12 22:05] Kerooker commented on #408
Currently working on this.

[2018-09-13 04:21] Kerooker opened #410 "Add documentation to Date matchers"
There are no (live) documentation in the `io.kotlintest.matchers.date` package. Adding some KDocs to the methods in there can be very benefical.

There is documentation in Github, but this documentation cannot be accessed through the IDE (for example, pressing CTRL + Q in Intellij displays a quick documentation), and the code isn't documented besides the method name (which is great, by the way!)

[2018-09-13 07:55] sksamuel opened #411 "Config the output to show the test cased generated in Property testing or table testing"
As the title.

[2018-09-13 07:57] #408 closed

[2018-09-13 08:12] sksamuel commented on #404
3.1.10 is released.

[2018-09-13 08:12] #404 closed

[2018-09-13 08:26] sksamuel commented on #404
You'll be waiting hours for that UI to update.
Once it's in the repo you're good to go
http://repo1.maven.org/maven2/io/kotlintest/kotlintest-assertions/

On Thu, 13 Sep 2018 at 09:23, Jens <notifications@github.com> wrote:

[2018-09-13 08:29] jensim commented on #404
Thanks @sksamuel !

[2018-09-14 08:17] fraquack opened #413 "Config with invocations > 1 stuck if test fails"
When running a test with more than one invocation, the test keeps running forever if one of the invocations fails.
For instance, running the following code results in a never ending test.
[code]
Can somebody confirm this bug?

[2018-09-17 08:52] zaz600 opened #415 "Can't generate allure report"
Hello.

I'm trying build project with allure support and i have the exceptions during gradle test command

source https://gist.github.com/zaz600/54caf834b43636c4b07d70ee554a358b

Gradle 4.10.1

[code]

[2018-09-17 10:46] #415 closed

[2018-09-17 10:47] zaz600 commented on #415
sorry, up version to 3.1.10 helped me

[2018-09-17 12:53] Kerooker commented on #413
Can confirm. Happened to me when executing via Intellij and Gradle, and for the scenario above and
[code]
(trying to filter out any possible problem with the null)

[2018-09-18 18:44] Kerooker commented on #410
@sksamuel Could you start reviewing these documentation changes, if you can?

[2018-09-19 13:15] Kerooker opened #416 "Add matcher shouldBeWithin for LocalDateTime, OffsetDateTime and ZonedDateTime that includes other units"
Sometimes when dealing with dates, one must compare a date to another for equality. However, some special cases might happen, when one date is extremely close to another, but not equal:

LocalDateTimes:
- `1998/02/09 10:00:00:000001`
- `1998/02/09 10:00:00`

These should be considered somewhat equal, but they're not. One should use something like `date1 shouldBeWithin 2 seconds of date2`(pseudo-co

[2018-09-19 14:27] sksamuel commented on #416
Seems like an excellent idea.

[2018-09-21 09:05] BorzdeG opened #418 "The disabled test is displayed several times"
![](https://habrastorage.org/webt/yi/o1/pd/yio1pdh2ja3szs61sksi3h2bnnc.png)

source: https://github.com/itbasis/jvm-wrapper-ide-plugins/blob/master/plugin-common/src/test/kotlin/ru/itbasis/jvmwrapper/core/unarchiver/LinuxUnarchiverTest.kt

[2018-09-27 01:41] lalunamel opened #419 "`int()` `Gen` constants do not match documentation"
Hi there! Really interesting library! I was just reading through the source for your property testing implementation (just out of curiosity) and noticed a discrepancy.

 In `properties/Gen`, the `int()` function implementation in the companion object does not match the documentation.

Specifically, the documentation states

`The values always returned include the following edge cases: [-1, 0, 1, I

[2018-09-27 03:12] Kerooker commented on #410
The PR is complete. Waiting on merge

[2018-09-27 04:10] sksamuel commented on #419
Good spot thank you. Fixed.

[2018-09-27 04:10] #419 closed

[2018-09-27 14:15] lalunamel commented on #419
@sksamuel Could you tell me why you wouldn't want -1 and 1 included in the constants? Is the thinking that Int.MIN_VALUE and Int.MAX_VALUE will cover those?

[2018-09-27 14:39] sksamuel commented on #419
The more edge cases you add in, the more total runs you have.
5 edge cases, and 5 inputs, and you have 5^5=3125 combinations, and that's without running any of the random cases. I'm not sure what a good solution would be so I limited the edge cases.

[2018-09-28 14:57] Kerooker commented on #410
@sksamuel
Can we merge this?

[2018-10-01 11:44] imanushin commented on #386
Is this issue related to #323 ?

[2018-10-01 15:58] sksamuel commented on #386
Yep.

[2018-10-01 15:59] sksamuel commented on #381
Did you update the main post? If so, what changed?

[2018-10-01 16:32] johanvergeer commented on #381
Not that I know of. I did take a look at it this morning. I couldn't get it to work, so for now I'm using plain old JUnit tests for Spring boot

[2018-10-01 18:37] imanushin commented on #386
@sksamuel , at least one requirement is - add ability to call [async](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines.experimental/async.html) method from test. This is quite useful for cases when you need to execute two parallel tasks.

async method is just extension for [coroutineScope](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kot

[2018-10-02 16:18] yonigibbs opened #421 "Gradle does not execute custom StringSpec tests in custom source set"
I have a project with a custom source set for integration tests (to keep them separate from unit tests). In this custom source set, when I have a standard JUnit test (using the `@Test` annotation), a broken test successfully causes the tests to fail. However when the test is a subclass of `StringSpec`, the tests don't seem to be executed (or, at least, broken tests aren't causing the gradle task t

[2018-10-02 16:50] osheari1 opened #422 "Add optional exception type parameter to beFailure arrow-assertions"
It would be useful to be able to easily check whether a Try returns a failure in general, and that it returned a particular underlying Exception. Currently we can do something like this:
[code]

However it would be a bit more aesthetically pleasing to be able to do:
[code]

[2018-10-02 16:51] sksamuel commented on #422
`failure should beFailure[SomeExceptionType]` ?

Easy enough to add.

[2018-10-02 16:56] sksamuel commented on #421
My first guess would be that the custom source set is not being passed by gradle as a classpath when it invoked the junit 5 test runnner, but instead gradle is using its own test discovery. I know this behaviour will all change in gradle 5.

I'll take a look at your repo to see if I'm right and see if I can think up a workaround.

[2018-10-02 17:06] osheari1 commented on #422
Ah yes exactly.

I'll contribute, but are there any tests for the arrow assertions? I can't seem to find any.

[2018-10-02 17:10] sksamuel commented on #422
Yes, they are here
https://github.com/kotlintest/kotlintest/tree/master/kotlintest-tests/kotlintest-tests-core/src/test/kotlin/com/sksamuel/kotlintest/assertions/arrow

I'm not sure why I put them there. Feel free to add new tests there or move them to arrow module.

[2018-10-02 17:14] osheari1 commented on #422
Sounds good, thanks!

[2018-10-03 01:16] sksamuel commented on #386
Thanks for the info @imanushin. I'll take a look at an implementation for kotlintest 3.2, at the moment I don't know much about coroutines so now they're going final, I'm eager to learn.

[2018-10-03 01:16] #410 closed

[2018-10-03 05:17] Kerooker commented on #416
This was merged.
Thanks!

[2018-10-03 05:17] #416 closed

[2018-10-03 05:20] Kerooker opened #424 "Add documentation and tests for Boolean matchers"
There are no (live) documentation in the io.kotlintest.matchers.boolean package. Adding some KDocs to the methods in there can be very benefical, eventhough they're very intuitive.

There is documentation in Github, but this documentation cannot be accessed through the IDE (for example, pressing CTRL + Q in Intellij displays a quick documentation), and the code isn't documented besides the method

[2018-10-03 15:57] yonigibbs commented on #421
Thanks @sksamuel, much appreciated.  However, good news, I just managed to sort it.  Had to add this to `build.gradle`:

[code]

So the test task generated for that source set needs to be told to use the JUnit platform.

[2018-10-03 16:04] sksamuel commented on #421
Oh right, good to know thanks!.

[2018-10-03 16:04] #421 closed

[2018-10-03 20:19] #422 closed

[2018-10-03 21:08] Kerooker commented on #424
Merged

[2018-10-03 21:08] #424 closed

[2018-10-04 18:02] Kerooker opened #428 "Add infix modification for Double matchers"
The code for Double Matchers (package io.kotlintest.matchers.doubles, file matchers.kt) has a lot of extension functions to match Doubles

Some of these matchers should be used with an infix annotation, so

`firstDouble.shouldBeExactly(secondDouble)`
can be converted to

`firstDouble shouldBeExactly secondDouble`

This kind of behavior happens for a lot of matchers, for instance the most used `sho

[2018-10-04 18:16] Kerooker opened #430 "Add tests for Double matchers"
Some of the double matchers are missing Unit tests in the library.

To enforce code security and future guarantees, these tests are very important.

The class `DoubleMatchersTest` should include the missing test scenarios.

[2018-10-04 18:17] Kerooker commented on #430
Currently working on this.

[2018-10-04 18:38] Kerooker opened #431 "Bug: Double shouldNotBeExactly failure"
It's expected for the code

[code]

To pass, but currently, the assertion implementation is
[code]

Which will always fail.

[2018-10-04 19:32] #428 closed

[2018-10-05 02:44] #431 closed

[2018-10-08 18:56] Kerooker opened #433 "Double Matchers should be maintained in the same file"
Currently, there's a file called `matchers.kt` that is in the package `io.kotlintest.matchers.doubles`, and another file called `DoubleMatchers.kt` that is in the package `io.kotlintest.matchers`.

Both these matchers are about Doubles, but are in different files.

I suggest that both these matchers should be merged in file `io.kotlintest.matchers.doubles.matchers.kt`, and the file `DoubleMatchers

[2018-10-08 21:27] sksamuel commented on #433
The reason I did that is because I didn't want people to have to update their imports, but the newer matchers I wanted in their own package so we could have matchers with the same name. I think for 3.2 we can migrate them and deprecate the old ones like you say.

[2018-10-08 22:36] Kerooker commented on #433
I think that for 3.2 we can migrate and deprecate with a WARN
Some time in the future we should deprecate with an ERROR
And some time after that, delete the old file

[2018-10-09 14:16] Kerooker opened #435 "Double should have oppostive matchers for shouldBePositive and shouldBeNegative"
Most of the matchers have a opposite matcher. For example
[code]

This behavior should be added to the `shouldBePositive` and `shouldBeNegative` matchers.

A use case for this, is for example matching the number 0.0;

Zero is not positive, and it should match `shouldNotBePositive`. However, the opposite of this is not `shouldBeNegative`, as it won't match 0.0 (zero is also not negative).

----

I

[2018-10-09 15:29] #433 closed

[2018-10-09 16:11] Kerooker opened #436 "Add collection matchers to matchers.md"
https://github.com/kotlintest/kotlintest/commit/dd836762ea15e7079e0865766f332f0131f649d4 adds some important collection matchers. However, they're not added to [matchers.md](https://github.com/kotlintest/kotlintest/blob/master/doc/matchers.md).

It's very important to keep that documentation up-to-date, and these changes should be documented there as well

[2018-10-09 16:14] sksamuel commented on #436
That's my bad for missing that.

[2018-10-09 16:14] Kerooker commented on #436
I can handle this if you don't want it right now

[2018-10-09 16:17] sksamuel commented on #436
Thanks!

[2018-10-10 21:09] raverona commented on #435
I created a pull request to fix this issue, it also creates a `DoubleMatchersTest.kt` on a new `com.sksamuel.kotlintest.matchers.double` package inside the `kotlintest-tests/kotlintest-tests-core` module as I talked with @Kerooker beforehand and it's the aproach he is taking for these tests

[2018-10-10 21:10] raverona commented on #435
Let me know if you guys think more test cases are necessary for this feature

[2018-10-11 18:54] #435 closed

[2018-10-12 13:17] fraquack opened #439 "Documentation on test ordering"
The note at the end of the chapter **Parallelism** (https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#parallelism) states:

However I can't find this documentation on test ordering. Where can I find it?

At the moment, my tests rely heavily on their definition order in their spec and it looks like they are actually running in this way. But I don't know if, in the future, a spec

[2018-10-12 13:56] anti-social opened #440 "Extensions should be able to find out whether test case is enabled"
I have a specification that tests functionality that is bound with Elasticsearch, so it requires Elasticsearch to be run. Also there is an extension that sets up and cleans up fixtures.

When I wanted to not run such tests I added a tag to the specification. Now the tests are skipped but the extension runs nevertheless. And they fails as there is no running Elasticsearch.

I understand that it mig

[2018-10-12 14:21] sksamuel commented on #440
I'm not sure we can start to invoke `TestCaseExtension` for disabled tests if it doesn't already, as that could break tons of code.

Would a `TestListener` work, where you keep track if any tests were executed ?

[2018-10-12 14:21] sksamuel commented on #440
Or alternatively, a new method in `TestListener` called `ignoredTest` or `skippedTest` which could be invoked when a test is skipped ?

[2018-10-12 14:47] Kerooker opened #441 "Double matcher has a weird message "x should not be smaller and y and bigger than z""
When trying to assert a double matcher failure, such as

[code]

The failure message is pretty bizarre:
[code]

I believe this message is incorrect, and the expected is something like:

[code]

[2018-10-12 15:01] fraquack commented on #439
I'm using 3.1.10 and I've never overridden the function `testCaseOrder()`.
Therefore, I should inherit the function `testCaseOrder()` of `AbstractProjectConfig`:
[code]
and my test should run in `Sequential` order.
Thank you for your quick help.

[2018-10-12 15:16] anti-social commented on #440
But we invoke `TestCaseExtension` independently whether test is active: [executeTestIfActive](https://github.com/kotlintest/kotlintest/blob/master/kotlintest-runner/kotlintest-runner-jvm/src/main/kotlin/io/kotlintest/runner/jvm/TestCaseExecutor.kt#L77)

[2018-10-12 15:20] anti-social commented on #440
Initially I tried to use `beforeTest` & `afterTest` methods of the spec. But they only accept `Description`.

[2018-10-12 15:22] sksamuel commented on #439
You can override it in either place.

[2018-10-12 15:55] anti-social commented on #440
Yes, this is exactly my problem.

[2018-10-13 20:22] Burtan opened #447 "BeforeTest/AfterTest use different threads than the actual test"
Hi,
it seems that BeforeTest and AfterTest functions are running on different threads than the actual test. This is problematic for some frameworks like GAE and Objectify. Is it possible to make them all run on the same thread?

[2018-10-15 07:21] #447 closed, assigned to nobody

[2018-10-15 08:03] sksamuel commented on #413
I've pushed a fix to master for this. Thanks for the bug report.

[2018-10-16 09:33] anti-social commented on #440
It would be fine for my case. But do we really need to run listeners for disabled single test?

[2018-10-16 09:41] sksamuel commented on #440
To do that would mean a look ahead though for all tests - It would have to get all the test cases, work out which are disabled, which means invoking all the interceptors in advance, as an interceptor can dynamically disable a test.

[2018-10-16 09:50] sksamuel commented on #440
Going back to what you were saying, I should be able to update TestCaseInterceptContext to include a flag for active/disabled actually.

[2018-10-16 10:56] anti-social commented on #440
Thank you for the clarification.

So what will we do? We won't run tests from disabled spec and will add a flag into `TestCaseInterceptContext`?

I could try to make a PR.

[2018-10-16 11:11] sksamuel commented on #440
Adding the flag into TestCaseInterceptContext will be the easist thing for
now. We'll just need to extract the "isActive" function and use that before
we invoke the listeners/interceptors, instead of after they are completed.

On Tue, 16 Oct 2018 at 11:56, Alexander <notifications@github.com> wrote:

[2018-10-16 13:23] lsrom opened #448 "Spec and TestDescriptor modifications"
Is it possible to change the `io.kotlintest.Spec` class to use *canonicalName* instead of *simpleName* as default? I'm talking about the `Class<out Spec>.displayName()` extension. If there is no issue with that breaking something, I'll gladly submit a merge request.

Also, can source class be included in TestDescriptor created in method `fun createTestCaseDescriptor(description: Description, type:

[2018-10-18 19:56] sksamuel commented on #448
I'm not sure about changing the display name, it's used by gradle and other things.

As for the source class, yes I think it could be included, I don't see why not.

[2018-10-18 21:16] lsrom commented on #448
So can I add another method that will return the *canonicalName*? I really need it in my use case.

[2018-10-18 21:45] sksamuel commented on #448
Absolutely.

[2018-10-19 16:00] Burtan commented on #447
Any release date?

[2018-10-19 16:08] sksamuel commented on #447
I'll merge this back into 3.1.x along with the fix for #413 and release 3.1.11.

[2018-10-22 12:49] #448 closed

[2018-10-25 07:08] AHarazim commented on #189
Any further updates here?

[2018-10-26 18:58] Kerooker opened #450 "Extract double matchers each to it's own file"
The file `io.kotlintest.matchers.double.matchers.kt` has a lot of functions. Each of them brings a completely different scope.

All single responsibilities should be refactores to it's own file, avoiding confusion and avoiding a god-class, which it is right now.

Every one of these responsibilities should be extracted to it's own file. *however*, the package should not change. Any clients already

[2018-10-26 19:19] Kerooker commented on #189
Ok, I'll try to work on this on the following weeks. It would be an amazing feature for KotlinTest to support Android Instrumentation tests.

Meanwhile, Unit Tests can be run correctly with KotlinTest, as they don't use Android Platform at all. I'll first try to focus on Robolectric, and maybe later in Instrumentation tests.

[2018-10-26 19:26] IsabelleNP opened #452 "Add shouldBeNotTrue and shouldBeNotFalse matchers"
Although the documentation ensures that matchers can be negated by using shouldNot, there are no equivalent negated version for shouldBeTrue and shouldBeFalse.
The negated version of these matchers (shouldBeNotTrue and shouldBeNotFalse) can help creating more readable tests. For example, one may want to say that something is not true. In natural language, that may sound better than it being false,

[2018-10-27 08:58] sksamuel commented on #189
Roboelectric ties quite heavily into junit using the junit runnner. I looked at it and it seems a lot of work to separate the Roboelectric code from the junit stuff. We should see if they can do that so that other libraries can re-use robo.

What exactly is an "Android Instrumentation Test"? Is that different to just running tests inside Android Studio?

My efforts have never been very good. I can

[2018-10-29 15:51] Kerooker commented on #189
@sksamuel

There are some different kinds of android tests.

- We have Unit Tests, which will run on the JVM correctly, and no changes on our side are needed (I already Unit Test android using KotlinTest)
- We have Android Tests/Android Integration Tests/Instrumented tests, which will run on an Android Device. They run using an [AndroidJUnitRunner](https://developer.android.com/reference/android/s

[2018-10-29 16:50] wroblisko opened #456 "When using Data Driven Testing, separate rows are not treated as separate tests"
Hi,
I found out that this is probably not working as expected. When using Data Driven Testing, methods like before/afterTest are not called for every row of each test.

[code]

The same story is with overriding method isInstancePerTest. I would expect that new instance of class will be created for every row for every test.

The main usecase for this is resetting mocks after every test.

I hope tha

[2018-10-29 18:11] Kerooker commented on #456
I'm not sure if this is a bug, but I'll give you an alternative for now, it's the way I am used to do this kind of tests:

[code]

Again, I'm not sure if this is a bug. I just never had to deal with it that way

[2018-10-29 18:13] imanushin commented on #386
Looks like kotlin 1.3 is released - https://blog.jetbrains.com/kotlin/2018/10/kotlin-1-3/

[2018-10-29 22:42] sksamuel commented on #456
`forall` and other things like that are not part of the "test system", they just run inside a test. For them to work like you want, we'd have to promote them to be a spec themselves, which I'm happy to do if we can come up with suitable syntax.

[2018-10-30 07:36] wroblisko commented on #456
Thanks for replies. I understand the cause of the problem, but from user perspective every row should be treated as separate test. Some frameworks (e.g. Spock @Unroll) even create separate test entries for each data row.

It would be great if this would work like this in Kotlin Test. Otherwise using mocks is really error-prone.

[2018-10-30 13:07] Kerooker commented on #456
@wroblisko The problem here is that by default, table rows are not starting their own test scenario. I believe that for now you can use it the way I suggested, until we come up with something strictly for Table Testing.

Do you have a suggestion on how you'd want to write them?

[2018-10-30 15:03] wroblisko commented on #456
The workaround is great - actually I imagined it to work this way. Maybe it's good idea to make this an example when showing Table Testing.

[2018-10-31 17:46] Kerooker opened #457 "Fix CI"
Currently, w hen deploying KotlinTest, the CI is broken. Whenever it tries to execute `./gradlew test`, it will become stuck at the first test it tries to execute, and never finishes.

I've done some digging, and I found that the class `JUnitTestRunnerListener` had an addition from PR #449 that makes it kinda messy:

Line 222:
[code]

When creating this descriptor with a `source`, the test never c

[2018-10-31 17:46] Kerooker commented on #457
@sksamuel

[2018-10-31 18:54] Kerooker commented on #452
Merged with https://github.com/kotlintest/kotlintest/pull/453

[2018-10-31 18:54] #452 closed

[2018-11-01 07:29] alisabzevari opened #458 "Listener to run before/after a set of tests"
I want to have a different set of tests (probably specified by different tags) and have hooks to run before and after running those set of tests. Is it possible to do this in kotlintest?

One use case for this feature is separating integration tests from unit tests. Usually, integration tests need to set up a testing environment which takes time and it is not desired to run this set up process bef

[2018-11-01 12:50] sksamuel opened #459 "Upgrade from reflections to classgraph"

[2018-11-01 12:55] sksamuel commented on #189
@Kerooker Since you are an Android developer - when you write an android instrument test, you just annotate the test class with AndroidJUnitRunner and then write your tests normally using junit? Or do you have to extend a class ?

What would be great is if you could make a simple hello world example of an android instrument test. It doesn't matter if I can run it, as long as you tell me it works.

[2018-11-01 15:38] Kerooker commented on #189
Your assumption is correct, I usually only add the `@RunWith` annotation. However, I think some special attention will be needed to `@Rule`. I'm unsure on how to execute a Rule on KT, I believe it would be to execute the code inside the rule instead of actually using a defined rule

We usually use [Espresso test framework](https://developer.android.com/training/testing/ui-testing/espresso-testing)

[2018-11-01 16:57] sksamuel commented on #189
Where is the onView method coming from here ?

On Thu, 1 Nov 2018 at 15:54, Kerooker <notifications@github.com> wrote:

[2018-11-01 18:38] Kerooker commented on #189
The `onView` comes from `Espresso`, it's just used to find a View (for example, an Image) on the screen. I don't believe it's important right now, but it's a matcher/finder for views.

This `onView` can probably be used outside of AndroidJUnit4 runner

[2018-11-01 20:41] Kerooker commented on #457
Ok, I have some more information on this issue:

Currently, source is created using

[code]

For some reason, this source only fails if TestType is TestType.Test. It'll never complete the test. However, if we change it to null on TestType.Test, something interesting happen, because it works:

[code]

[2018-11-01 20:44] Demitsuru opened #460 "Add detailed Allure docs"
Good time of the day. I am facing an issue creating allure-results. I have a multi-module Gradle project and I have got captured only one Skipped test. Is there a guide how to make Allure working with KotlinTest? I have noticed the extension which helps customise the report. Thank you in advance. Here is the parent build.gradle:

`buildscript {
    repositories {
        mavenLocal()
        jcent

[2018-11-01 20:52] Kerooker commented on #457
I have no clue on why this works. But using this way, we're able to goto source on any descriptor that's not the final one (test one).

I'm still trying to find a real reason for this, but having this documented may help any of you to find it.

@sksamuel I also believe that JUnitRunnerListener needs a refactoring. It's pretty hard to understand right now :x

[2018-11-01 22:18] sksamuel opened #461 "Support package selectors in discovery"
See https://stackoverflow.com/questions/52780940/kotlintestengine-discover-doesnt-return-any-tests/53110162#53110162

[2018-11-01 22:20] sksamuel commented on #189
Ok, so the test class does not need to extend anything. But AndroidJUnit4 must add special support for the "instrumentation" - how does your test or test framework get a handle to it? Static fields or something?

[2018-11-02 12:33] TAGC commented on #205
I think `shouldNotThrow` is a good idea, because it makes the code more explicit. Testing libraries like Shouldly support these assertions.

[2018-11-02 13:47] Kerooker commented on #205
@TAGC Would you mind creating an issue for that? I agree with you that syntax would be prettier and human-readable.

Althought technically, if your code doesn't throw any exception, you're already asserting that it doesn't throw anything

[2018-11-02 14:40] Kerooker commented on #205
@sksamuel
Sometimes users want to write things in a more explicitly.

It's the same reason we added the matchers
`shouldNotBeTrue` and `shouldNotBeFalse` https://github.com/kotlintest/kotlintest/issues/452

Of course `(3 ==3).shouldBeTrue` is exactly the same as `(3==3).shouldNotBeFalse`, but sometimes one might want to say in a way or another.

Adding a `shouldNotThrow` empty block doesn't look l

[2018-11-02 15:09] TAGC commented on #205
Not sure what you mean. Why create a new issue for the same proposal as this one?

In short test-cases, it probably does create more noise than it's worth. For example, it my case instead of:

[code]

I might write:

[code]

And it wouldn't make much difference.

However, in longer test-cases the advantage is that it helps distinguish the assertion from the rest of the setup/cleanup code.

[code]

[2018-11-05 17:36] sksamuel opened #464 "Bump Arrow to 0.80"

[2018-11-05 20:46] sksamuel commented on #189
Can you make a repo with a standalone example that runs from gradle and
I'll make it work with kotlintest. Or at least I'll try :)

On Thu, 1 Nov 2018, 18:45 Kerooker <notifications@github.com wrote:

[2018-11-07 07:01] sksamuel commented on #458
Can you put your integration tests into separate files, and have a "before file" "after file" setup methods? We call those `beforeSpec` and `afterSpec`.

[2018-11-07 07:01] #464 closed

[2018-11-07 07:02] sksamuel commented on #464
Done.

[2018-11-07 07:56] sksamuel commented on #457
We are green again!

[2018-11-07 07:56] #457 closed

[2018-11-07 08:15] #413 closed

[2018-11-07 16:54] alisabzevari commented on #458
I want to have a piece of code running before and after **a set of tests**.

One realworld example would be preparing the database schema (run migration scripts) for testing. After running migration script I want to only clean the tables (but not the whole database). Another one would be starting the mocked dependent servers in integration tests.

[2018-11-07 17:46] Kerooker commented on #430
Merged with https://github.com/kotlintest/kotlintest/pull/451

[2018-11-07 17:46] #430 closed

[2018-11-07 18:00] sksamuel commented on #458
Yep, I'm just asking how you intend to make a "set". Because one way is to put each set into it's own file, in which case `beforeSpec` and `afterSpec` can work, and those can be implemented in an extension like class called a `TestListener`. If that doesn't work we can think of something else?

[2018-11-07 19:46] alisabzevari commented on #458
If there was a way to not limit to one file, that would be great.

[2018-11-08 21:53] Kerooker commented on #450
Merged.

[2018-11-08 21:53] #450 closed

[2018-11-10 09:44] ScottPeterJohnson opened #468 "Listeners run even when tests are disabled"
I have a few integration tests I want to run separately from all others; these are generally slow and expensive and set up shared database resources.

I tried setting up these resources via TestListeners, both beforeSpec and beforeTest. But the problem is, even when the tests in question are disabled or excluded by tag, the setup code is still run!

Example reproducing the problem:

`class Example

[2018-11-10 20:11] sksamuel commented on #468
We should probably add more listener methods that include the enabled status of a test. Would that work?

Like `beforeTest(description: Description, enabled: Boolean)`

`beforeSpec` must always run even if all the tests are disabled inside the spec, because in order to find out if tests are enabled requires actually creating the spec.

[2018-11-11 01:01] ScottPeterJohnson commented on #468
More listeners would probably help! Even just `beforeTest` with an enabled flag, although it might be confusing how you'd get Spec-level resource initialization from there.

Naively coming to the library, I'd still be a little confused at the default behavior though. I also don't currently understand why finding out if tests are enabled requires running `beforeSpec()`. My impression for kotlintest

[2018-11-11 10:06] sksamuel commented on #468
In that case it could work but not when some tests are diabled and some
enabled in the same spec.

On Sun, 11 Nov 2018, 01:01 Scott Johnson <notifications@github.com wrote:

[2018-11-11 18:09] alisabzevari opened #469 "Why beforeTest and afterTest parameter is not a TestCase"
I am trying to write a listener which runs some initialization code before running some specific test cases (distinguishable by their tags). But `beforeTest` function only receives `Description`. Is there any reason that this function doesn't receive a `TestCase` instance?

[2018-11-12 15:17] Kerooker opened #470 "ProjectConfig should be auto-scanned, not in the specific package"
Currently, the `ProjectConfig` class **must be** placed at `io.kotlintest.provided`, or else it won't be discovered and won't work as per [the documentation](https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#project-config).

However, this is not very good for users. I want to create my ProjectConfig anywhere (for example, my own package `me.kerooker.test.configs`), and KotlinT

[2018-11-12 15:21] Kerooker commented on #470
I see that there's a note:

[code]

And I **strongly** disagree with it. The predefined package name + classname is very bad for usage, and my team currently doesn't want to use `ProjectConfig` because of the necessity to use a "dirty" package that is not ours and make the project uglier

[2018-11-12 16:48] Kerooker commented on #235
(Sorry for the very late reply, I'm looking at older issues now)

Due to how the isolation works, for every test the whole spec is executed. So `"When I run search the page`" will be executed every time before the test scenarios.

If this isn't the behavior you want, could you explain a little more what you're looking for?

[2018-11-12 16:56] Kerooker commented on #235
For instance, the following behavior works:

[code]

`foo.int++` is executed only once, and not a lot of times. So your selenium browser should open only once! Tell me if I didn't understand this correctly

[2018-11-12 17:17] sksamuel commented on #470
Your two options are:

1. Scan the classpath for instances of an interface `ProjectConfig`
2. Use Class.forName to instantiate an instance of a well known class.

We went with the former initially in versions 1 and 2 and as @helmbold will attest, all it did was cause bug report after bug report. Plus it takes ages on large classpaths - minutes - adding in this delay to every test run.

Yes it's a

[2018-11-12 18:38] neilgall opened #471 "Gen.oneOf should be covariant"
A common use case for `oneOf` is to select one of a series of subclasses.

[code]

However because `oneOf` is defined with parameters `Gen<A>` rather than covariant `Gen<out A>`, this does not compile and must be modified with unchecked casts:

[code]

To work around this one can use
[code]
which still needs an unchecked cast, but at least it is confined to a single location. It would be best buil

[2018-11-12 21:36] sksamuel commented on #470
Using Reflections library.
Where's the annotation going to go. On a class that we know of the name of :)

[2018-11-12 22:09] Kerooker commented on #470
No, I mean that we can create a compile-time annotation and process at compile time which classes are annotated (instead of before each test). And when we find this classes, we save them in a xml (for example) so that we know them at runtime (using a ServiceLoader), for example.

I'll try to fiddle with this a little bit and see if I can get an example

[2018-11-13 05:06] Chattered opened #472 "`map` forgets its shrinker"
For example:

[code]

This means we don't get a free shrinker when combining Gens. Moreover, it is surprising behaviour for users since it violates the functor law for map.

If it cannot be implemented without breaking covariance, then I think shrinker() should be removed from the Gen interface, and Gen should go back to being covariant.

[2018-11-13 12:29] sksamuel commented on #470
It seems complicated and error prone.

What about a system property to allow you to override the location if you want to. So your team can set the location of `ProjectConfig` to `com.wibble.Whatever`

[2018-11-13 15:34] Kerooker commented on #472
You're correct. I believe the implementation for Gen at the moment doesn't consider mapping in a correct way. I'll see what can be done about it.

Thanks for reporting!

[2018-11-14 23:29] michaeloa commented on #235
Thanks for the response, though we've moved on from this as kotlintest (at the time at least - more than a year ago), didn't meet all our requirements.

The way the tests ran, it certainly seemed like foo.int++ was executed multiple times - or at least Selenium/ChromeDriver was, in the way it interacted with kotlintest. Might be some weirdness in the latter too, though - we had some issues with th

[2018-11-14 23:29] #235 closed

[2018-11-14 23:49] sksamuel commented on #235
It as an issue with the way multiple tests were created. In fact, it was working as intended, but 3.1 onwards introduced new modes that do things in a way that makes more sense for your use case.

[2018-11-15 16:39] Kerooker commented on #472
Ok, so here's the thing:
If you're mapping a type for the same type (for example, mapping Int to Int), the shrinker should be the same. However. what if I map one value to another?

For example:

`Gen<Int>.map { it.toString }`

It's impossible to create a shrinker based on this.

What I'll do is return the original shrinker if the type is the same, and return a shrinker if the time is known. Else

[2018-11-15 19:36] Chattered commented on #472
Unfortunately, it really weakens composability. When you present a monad interface, you expect users to be able to build up complex Gens using map, flatMap, and the various "bind" functions in the Gen interface. These compositions should always be valid according to the monad interface.

We're using your library in our company (thanks for writing it, btw!) to do what we consider to be obvious thin

[2018-11-15 21:44] sksamuel commented on #472
To be fair, just because there's a flatMap method, it doesn't mean Gen claims to be a Monad. Similarly for a Functor and map.

I like your suggestion of passing the shrinker to forAll/assertAll.
Another alternative is requiring the user to supply a fn to map the shrinker as well as the generated values.

Although in the case of bind, there's no real reason why the shrinker can't be created automat

[2018-11-15 21:44] Kerooker commented on #472
`Gen.int().map { it.toString }.map { Integer.parseInt(it) }.shrinker() == null`
In this example, it wouldn't violate that law, as Integer is a known type and there would be a shrinker for it. The same as the second example.

[2018-11-15 21:49] Chattered commented on #472
[code]

would violate the law. The first map changes the type from Integer to String, so the Shrinker gets chucked. The second map doesn't restore the Shrinker. So you lose it at the end. However, if you fuse the maps together, you're mapping from Integer to Integer, so your typecheck would preserve the Shrinker.

[2018-11-15 21:51] Kerooker commented on #472
After the second map, if the shrinker is null and I know that I have a shrinker for it's type (Int), so I would be able to provide the shrinker for it. Would you expect the second map to have an Int shrinker?

[2018-11-15 21:57] Chattered commented on #472
Ah, I missed the bit about returning a shrinker if the type is known. That seems like a possible tradeoff, if we can easily (and are encouraged to) extend the known types.

I still think there might be a better way to do this. And it seems like a bad smell to me that a type supporting map is invariant.

[2018-11-15 22:17] sksamuel commented on #472
Also as an addition, I don't think having generators detected by type along is good enough. For example, even and odd generators require different shrinkers but both are Gen<Int>.

[2018-11-15 22:17] sksamuel commented on #471
Agreed.

[2018-11-15 22:29] Chattered commented on #472
FWIW: I've found myself writing specialised flatMaps that drop the edge cases to deal with the combinatorial explosion. It's a real shame, because on first look, the idea of edge cases seems like a really cool idea.

Looking at Haskell, shrink is part of the Arbitrary typeclass but not the Gen typeclass, which might indicate that these things need to be kept separate, perhaps by supplying the shri

[2018-11-15 22:32] sksamuel commented on #472
I like that idea, but I'd like to think of a way that a particular gen could supply a shrinker as well. For example, if I want to use a Gen for even numbers, I'd have to manually supply the shrinker, going by type would be not be enough. How does Haskell solve that, or does it just require you to provide the right one.

[2018-11-15 22:48] Chattered commented on #472
I'd need a concrete example. Cases where I've needed subsets of integers like that, I've normally gotten away with setting things up right at the test-site. So if property p must be true of all evens, I just say:

test n = p (2 * n)

and I'm done.

[2018-11-15 23:04] sksamuel commented on #472
I just mean if you have a `Gen<Int>` that returns evens, then lets say your test failed for `4`, then a standard `Shrinker<Int>` is going to return 3, 2, 1 which aren't compatible with the generator.

[2018-11-16 05:09] Chattered commented on #472
I mostly write quickcheck tests in Haskell, and I haven't needed such a generator. I'd want to see a concrete example of a case where I need to generate even numbers that isn't better solved by multiplying an integer by 2 at the test-site.

[2018-11-16 10:32] sksamuel commented on #472
I suppose that example is easily created from a normal gen int. What about a prime number generator, or an ascii string generator (subset of all strings),

[2018-11-16 10:45] Chattered commented on #472
I think if you really need to work with a subtype like that, you want to define a newtype wrapper and hide the data constructor, so you can enforce the fact that your string is ascii in the type system. You can then define an Arbitrary instance for the newtype which does the appropriate shrinking.

In Kotlin, that would be a data class with a private constructor. It doesn't get the benefit you get

[2018-11-16 11:01] sksamuel commented on #472
Yes that's one solution I suppose.

If I want to write a custom generator for strings, then I can either lose shrinker support, wrap the type in a data class, or have an overloaded forAll that accepts a specific shrinker. Out of those, I don't think there's much to choose between the last two, in that they're both not ideal, but I do think they're probably both better than the current situation.

[2018-11-16 13:40] dhoepelman opened #473 "Title for Wordspec tests is missing context"
I'm trying kotlintest, and encounter a similar issue to #312 (kotlintest 3.1.10)
Given test code like:

[code]

The console output is:
[code]

This includes 3 PASSED/FAILED messages instead of 2, and I would expect the test name to be "Thing being tested should fail this test" for the failing test

The JUnit test report is slightly better, but does not include the successful tests:
<img width="675

[2018-11-16 14:05] Kerooker commented on #472
@Chattered Maybe one can use the new inline class for that? It will take exactly the same space as the underlying value, and has type safety

[2018-11-16 14:51] Chattered commented on #472
@Kerooker Nice! That sounds exactly like a newtype/value-class.

[2018-11-16 17:01] Chattered commented on #472
@Kerooker Nice! That sounds exactly like a newtype/value-class.

[2018-11-16 17:02] Chattered commented on #472
Though can inline classes be used in the proposed case? When picking out a shrinker based on a known type, you'd have to be able to do it statically, since inline classes will lose their wrapper at runtime and just appear as the underlying type, right?

[2018-11-18 23:17] Kerooker commented on #189
Sure. Sorry for the long time to answer this.
I'll get something cooked up for you by tomorrow. I'll create a script to execute everything (from downloading the dependencies to executing the emulator to executing the code). Let's see if you'll be able to run Android that way

[2018-11-19 17:16] jsonbrooks opened #474 "gradle test -Dkotlintest.tags.exclude doesn't seem to work"
I've defined the following tag:
`object E2E : Tag()`

I have the following StringSpec:
`class GoogleExecutorTests : StringSpec() {
    override fun tags() = setOf(E2E)`

I've also tried adding the tags to individual specs this way:
`"...".config(tags = setOf(E2E))`

... but when I run:
`./gradlew test -Dkotlintest.tags.exclude=E2E`

All specs in GoogleExecutorTests are definitely still running.

`

[2018-11-19 18:12] Kerooker commented on #474
Thanks for the report!

So here's what's happening: Your Gradle is not propagating the JVM configurations to the test configuration.

In Java, `-Dx=y` will add x to the System.properties() from the JVM, and that's what we're looking for. In your case, Gradle is not propagating the `System.properties()` to its JVM children, and the tag doesn't exist there.

What you can do is to explicitly tell gra

[2018-11-19 18:42] jsonbrooks commented on #474
It'd be nice not to need that properties assignment, so if that's possible then it seems worth looking into.

Either way I have no problem with closing this ticket.

[2018-11-19 18:46] Kerooker commented on #474
I'll try to see what can be done to that. Maybe KotlinTest can configure Gradle to propagate properties correctly, but this needs more discussion.

Thanks for the report, and thanks a lot for your time to come around and report this!

I hope to have solved your issue for now :)

[2018-11-19 18:46] #474 closed

[2018-11-19 19:05] Kerooker commented on #189
Here you go:
https://github.com/Kerooker/BasicExecutableProject

[2018-11-20 22:09] checketts opened #475 "Add 'as' support to assertions"
AssertJ has a ['describe' feature](http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#describe-assertion) for assertions.

[code]

The current equivalent in kotlintest is:
[code]

I would love to have the ability to add a context to a failure.  Perhaps like so:

[code]

I have my own current extension functions that catch the `AssertionError` and wraps the context, but

[2018-11-20 22:32] sksamuel commented on #475
There's something similar already called `withClue`.
If that works for you then great. If it's not powerful enough then a PR is most welcome to replace it / improve it.

[2018-11-20 22:51] Jager567 opened #476 "Test Case Config does not behave as I expected"
[The documentation](https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#test-case-config) states that I can add a timeout to a test. It states that it is "Useful for code that is non-deterministic and **might not finish**". This leads me to believe that this setting will stop the test execution after the given duration has passed. However, when I accidentally executed a test that

[2018-11-20 22:52] checketts commented on #475
`withClue` is a great start!

With `withClue("id") { actual.id shouldBe expected.id }`
[code]

I'll look into how hard it would be to get it to be:
[code]

[2018-11-20 22:53] sksamuel commented on #476
Definitely a bug. The timeout should kick in for any test that takes longer than the timeout.

[2018-11-20 22:54] sksamuel commented on #476
Which version of kotlintest ?

[2018-11-20 22:54] Jager567 commented on #476
I tested this with version `3.1.10`.

[2018-11-21 00:21] sksamuel commented on #472
I think that's right Phil. The underlying type is lost.

[2018-11-21 10:13] bahka opened #478 "gradle test include tag"
I have some number of files with specs, one spec has tag __Acceptance (just for check), but all specs has some tags (from 2 till 5 tags).

* Path to specs
../src/test/kotlin/domain/company/project/**specs**/...

All of them has the same structure :
* Spec structure with tag
[code]
* TestCaseConfig
[code]

* gradle command to run tests
[code]

And I wait 7 minutes...  and 1 test runs (from IDEA it

[2018-11-21 10:26] bahka opened #479 "Why shouldThrow<> {} always pass this check?"
In documentation you said:
[code]

But in reality it green always

Context: just for fun - green
    Scenario: throw exception - green
    Scenario: no exception - green

[code]

====
If I change  **shouldThrow**<java.lang.AssertionError> to **shouldThrowExactly**<java.lang.AssertionError>  it works well now:

[code]

[2018-11-21 16:53] Kerooker commented on #479
Thanks for your report!

For the first test, the reason
[code]

passes is because `AssertionFailedError` is instance of `AssertionError`. So any `AssertionError` is OK for `shouldThrow`. If you create an Exception such as
`class MyException : AssertionError()`, it will pass `shouldThrow<AssertionError>` as well.

When you change it to `shouldThrowExactly` in the second scenario, you're verifying c

[2018-11-21 17:06] tw opened #480 "kotlintest-assertions-json and kotlintest-assertions-ktor don't seem to be published"
I can see https://bintray.com/bintray/jcenter/io.kotlintest%3Akotlintest-assertions-arrow

but not https://bintray.com/bintray/jcenter/io.kotlintest%3Akotlintest-assertions-ktor and https://bintray.com/bintray/jcenter/io.kotlintest%3Akotlintest-assertions-json

am I doing something silly?

[2018-11-21 17:37] sksamuel commented on #480
They're new modules in 3.2 which isn't ready yet.

[2018-11-21 23:13] Kerooker commented on #475
Closed as per #477

[2018-11-21 23:13] #475 closed

[2018-11-22 17:04] Burtan commented on #447
Any estimation for a new release version?

[2018-11-23 13:59] tw commented on #480
@sksamuel thanks :) it was most confusing given they were added many months ago

[2018-11-23 13:59] #480 closed

[2018-11-23 14:03] sksamuel commented on #480
We'll speed up the release of 3.2!

[2018-11-26 20:33] sksamuel opened #482 "3.2 Release Plan"
[ ] Kotlin 1.3
[ ] Coroutine Support
[ ] Isolation Levels #379
[ ] Improved shrinker support
[ ] Co-variant Gens #471
[ ] Package selectors in discovery #461
[ ] Upgrade from reflections to classgraph
[ ] output to show the test cased generated in Property testing or table testing
[ ] Better support for comparing multi-line strings #402
[ ] Arrow to 0.80
[ ] Remember previous failing test cases #3

[2018-11-27 13:01] elect86 opened #483 "Gradle 5.0 shows weird failed tests"
Hi,

since my upgrade from `4.10.2` to `5.0`, I get these weird [failed tests](https://gist.github.com/elect86/b44fb08c9854a29a5831f58c8e0d5f9a)

Note that I'm using `shouldBe` from `io.kotlintest` and not that one from `io.kotlintest.matchers`

Project [here](https://github.com/kotlin-graphics/kotlin-unsigned/tree/gradle5.0), `gradle5.0` branch

Also, I just discovered I could neutralize the clas

[2018-11-28 08:46] elect86 commented on #483
Error on my side, sorry

[2018-11-28 08:46] #483 closed

[2018-11-28 08:48] elect86 opened #485 "Runtime JAR files in the classpath have the version 1.2"
Kotlintest is bringing into the classpath older dependencies which can cause problems

[code]
I was suggested to explicit add a dependency to `kotlin-reflect` `1.3.10`, but this not always seems to work

[2018-11-28 22:07] sksamuel commented on #485
I think this pr addresses this https://github.com/kotlintest/kotlintest/pull/486

[2018-11-28 22:16] sksamuel commented on #458
You can make a test listener class, and then apply it to every test file that you need it in. Does work?

[2018-11-29 01:50] sksamuel commented on #482
Please add anything you think is missing @Kerooker

[2018-11-29 09:32] elect86 commented on #485
I guess [this](https://github.com/kotlintest/kotlintest/pull/487) is the solution, hopefully

[2018-11-29 21:23] Kerooker opened #489 "3.1.11 bugfix and small features release"
Given that version 3.1.10 has some bugs that were already fixed in master branch, we should release a minor version to correct those bugs and add some smaller features.

This issue creates a small checklist on what can be release for 3.1.11, as some users (me included) are suffering a bit with some bugs that were already fixed. All commits related to this issue should be taken to the branch `relea

[2018-11-29 21:49] sksamuel commented on #489
#434 #464 is improvement only and should move to 3.2.0 only IMO.
Is #465 potentially breaking, same with #477, if so they should be 3.2.0 only as well.

Rest I think we can cherry pick and release.

[2018-11-29 22:45] checketts commented on #489
@Kerooker do you need me to do anything? Or was I just mentioned to keep me in the loop?

[2018-11-29 22:55] Kerooker commented on #489
@checketts Not at the moment, don't worry. I was just giving you credit for your changes :+1:

[2018-11-30 11:49] Kerooker commented on #489
@sksamuel Agreed with you on #434 and #464. However, I don't understand why #465 can be potentially breaking, as it was an improvement to a fix you made. I also don't mind postponing #477 to 3.2.0

[2018-11-30 11:57] sksamuel commented on #489
Yes you're right.

[2018-11-30 12:11] Kerooker commented on #489
Ok, I removed #434, #464 and #477 . I'll cherry pick other pull requests and submit a pull request

[2018-12-02 17:46] sksamuel commented on #473
The issue is gradle doesn't understand nested tests property.

Although arbitrarily nested tests are supported in Junit 5 platform (which kotlintest runs on, as do some other test frameworks) gradle currently makes the assumption that every test is a method inside a class.

So it gets confused when you have more than one level of nesting (as WordSpec does).

There's an open ticket at gradle:
https

[2018-12-02 18:32] #485 closed

[2018-12-02 18:35] sksamuel commented on #458
Ok I see what you want now. The listener should be "shared" between all the classes that use it.
I'll have a think about how we can support this for 3.2

[2018-12-02 19:00] #471 closed

[2018-12-02 21:01] sksamuel commented on #402
I've added my attempt.

You end up with a sequence of diffs. Each diff has a type (delete, change, addition), the line where it started, and the snippet that changed (with a line before/after for context).

The raw exception message is like this:

[code]

Which intellij picks up nicely and shows the diff window.

[2018-12-02 21:25] sksamuel opened #494 "Test Listener / Extension rework"
There's been some requests recently for functionality the current test listener/extension framework cannot handle.

Notably:

Listeners run even when tests are disabled #468
Listener to run before/after a set of tests #458
Extensions should be able to find out whether test case is enabled #440
Why beforeTest and afterTest parameter is not a TestCase #469

We should improve the listener support for

[2018-12-03 02:47] Kerooker commented on #482
Agreed. Android Integration tests can come later.

But if we're close to releasing 3.2, maybe there's no need for a 3.1.11?

[2018-12-03 02:48] sksamuel commented on #482
Well yeah not really, but let's do it anyway in case some people don't want to "worry" about upgrading to a new version and just want a bug release. I'm happy to do the cherry-picking if you want.

[2018-12-03 02:55] Kerooker commented on #482
I'm not very sure on how to do it, never done it before :P

I'm a little bit confused on how to keep the authors and the commits, while still doing the merge correctly.

[2018-12-03 02:57] sksamuel commented on #482
You just need to find the actual commit sha, not the merge commit, and do `git cherry-pick sha`. I'll pick it up, won't take long, although it's 3am here so I might wait.

[2018-12-03 03:37] sksamuel opened #495 "BehaviorSpec doesn't allow config"
We don't allow config to be called on behavior spec.
An oversight!
https://stackoverflow.com/questions/53188898/calling-config-on-a-behaviorspec-test-in-kotlintest

[2018-12-03 11:54] Kerooker commented on #184
It's still alive, but there are no plans for it in the near-future.

[2018-12-03 12:02] #459 closed

[2018-12-03 12:51] #402 closed

[2018-12-03 12:51] sksamuel commented on #482
We can probably bump the shrinker support too.

[2018-12-03 12:53] #479 closed

[2018-12-03 12:54] Kerooker commented on #482
Agreed

[2018-12-03 16:40] #461 closed

[2018-12-03 19:05] jeffreyfjohnson opened #496 "Can't run tests in Android Studio OR Gradle with kotlintest-runner-junit4 > 3.1.5, can't run tests with Gradle with kotlintest-runner-junit4:3.1.5"
I'm having some trouble setting up kotlintest in an Android project. We currently have two types of tests in our project, both using the JUnit4 test runner. This is maybe related to issue #385

We have JUnit4 tests that look like this:
[code]

We have Robolectric tests (for when we need to access Android classes to test) that look like this:
[code]

I would like to start migrating to using the dif

[2018-12-03 19:36] jeffreyfjohnson commented on #496
Not sure if this is helpful, but if I remove
[code]

I can run all tests through the command line/Gradle, both on `kotlintest-runner-junit4:3.1.10` and `kotlintest-runner-junit4:3.1.5`.

I still have the same issue on 3.1.10 running tests in Studio, but on 3.1.5 the tests still run fine in Studio.

So as a temporary workaround, just removing the `useJUnitPlatform` and staying on 3.1.5 seems to wor

[2018-12-03 19:39] jeffreyfjohnson commented on #496
@Kerooker I am running Android Studio v3.2.1. Not sure what version of Intellij that corresponds to.

Our gradle wrapper version is 4.7

I will try your suggestions, starting with the invalidate/restart, although I do believe I've tried that already.

Thanks for the quick reply!

[2018-12-03 19:44] Kerooker commented on #496
It's likely that you tried it already. But every bug in android starts with "try to invalidate caches and restart"

[2018-12-03 19:46] Kerooker commented on #496
But if you're able to (it would be awesome if you could!), can we try to pinpoint exactly the version that started this issue?

You said that with 3.1.5 everything runs fine (flawlessly? never errors?). But we have some more versions before 3.1.10, if you could try them:

- [ x ] 3.1.5
- [  ] 3.1.6
- [  ] 3.1.7
- [  ] 3.1.8
- [  ] 3.1.9
- [  ] 3.1.10

We know for sure that it doesn't work in 3.1.1

[2018-12-03 19:58] jeffreyfjohnson commented on #496
3.1.6 does not work in Android studio, same `NoClassDefFoundError`. I assume that means all following releases will also not work.

I will try the steps outline in the SO post later today and get back to you

[2018-12-03 19:58] Kerooker commented on #496
Interesting. This is a point to start digging, by release 3.1.6.

Thanks! That a lot of help already :)

[2018-12-03 20:12] Kerooker commented on #496
I think that the only commit from 3.1.5 to 3.1.6 that may change something in JUnit's execution is https://github.com/kotlintest/kotlintest/commit/5124afacf4c57fb873f732b4a9803dc5e74085ac. @sksamuel Do you believe this may be causing issues with Intellij/Android Studio, when it tries to execute a JUnit 4 test?

[2018-12-03 20:45] sksamuel commented on #458
You could do this by having a var inside the listener,

`var initialized:Boolean = false`

And each time `beforeSpec` is called, only initialise if the field is false.
And then to clean up you could use afterProject`.

Would that work ?

[2018-12-03 20:46] sksamuel commented on #496
Yes possibly. That annotation exists purely so that the little "run" icon appears in intellij, because it looks for the presence of these annotations in a file to determine if a class is a test class or not.

[2018-12-03 20:56] sksamuel commented on #458
Another idea, is we can introduce "groups" and allow each spec to have a single group defined (or null the default). Then we can have two callbacks:

`beforeGroup(group:GroupName)`
`afterGroup(group:GroupName)`

Which would be executed only once for any given group name.

[2018-12-03 20:56] sksamuel commented on #458
@Kerooker

[2018-12-03 21:53] jeffreyfjohnson commented on #496
@Kerooker Adding the `compileDebugUnitTestKotlin` step does not allow tests to run in Android Studio for versions > 3.1.5, neither does invalidating/restarting.

For now I will stay on version 3.1.5 which allows the tests to run in Studio, and remove the `useJUnitPlatform`, which allows tests to run via Gradle.

Thanks for the help

[2018-12-04 12:35] Kerooker commented on #496
@jeffreyfjohnson And you can execute the class via the the run icon even before 3.1.6?

[2018-12-04 14:57] Kerooker commented on #489
I tried to cherry pick, but it ended with many compilation errors, because some commits made some changes that were not picked up

[2018-12-04 14:58] sksamuel commented on #489
That's where you have to edit them :)

[2018-12-04 15:19] sksamuel commented on #489
If you can checkout the release/3.1.x branch and have a look over it see if it looks good, I will release it.

[2018-12-04 15:42] Kerooker commented on #489
Crap. You did in 30 min what I was trying for some hours to do :P

Can https://github.com/kotlintest/kotlintest/pull/484 go along? It's a small fix and won't change any user code

[2018-12-04 16:55] sksamuel commented on #489
Ok that's added too.

[2018-12-04 17:09] Kerooker commented on #489
Than I think everything is fine. Let me know if you need any help.

[2018-12-04 19:20] Kerooker commented on #489
@sksamuel I fixed the branch

[2018-12-04 23:38] Kerooker commented on #489
I think it's released, then?

[2018-12-04 23:56] sksamuel commented on #489
Yep.

On Tue, 4 Dec 2018 at 23:38, Kerooker <notifications@github.com> wrote:

[2018-12-04 23:56] #489 closed

[2018-12-05 01:21] Kerooker commented on #482
Now that https://github.com/kotlintest/kotlintest/issues/489 was release, what's next?

Do you think we need to drop any of the remaining issues and deliver 3.2 faster?

[2018-12-05 01:21] sksamuel commented on #482
Probably just coroutines.

[2018-12-05 10:19] dhoepelman commented on #473
Thanks for the explanation, let's hope gradle improves their support and makes kotlintest more awesome 😄

[2018-12-05 17:55] Kerooker opened #498 "[3.4] Assertion improvements"
The module `kotlintest-assertions` has some room for improvements. There are many matchers/assertions that are deprecated and were moved, and many matchers have no documentation and not enough tests.

## Breaking change: Remove deprecated methods
This issue aims to mark as error all deprecated methods, forcing users to change their imports to the new ones. The deprecated methods will be moved to a

[2018-12-05 17:56] Kerooker commented on #498
@sksamuel I know that forcing users to change their packages due to deprecation is very bad, but I don't know if we should keep the deprecated methods.

What do you think about this?

[2018-12-05 18:02] sksamuel commented on #498
I am happy for the deprecated methods to be removed in 3.3

[2018-12-05 18:02] Kerooker commented on #498
And then we do all the changes at once, to avoid users having to change everything everytime

[2018-12-05 18:07] sksamuel commented on #498
Let's not move them all for the sake of it but ones like shouldBe definitely need to be removed now.
And assertion tests can move into the assertions module. It's the core tests (testing the engine itself) that must exist in a separate module.

[2018-12-05 18:10] Kerooker commented on #498
I believe we should remove all the deprecated now, to avoid having to create issues to user in the future again due to deprecation.

My line of thought is "well... If they will have to change imports for this now, it's better to change for the others now than having to change them again in the future"

[2018-12-05 22:43] sksamuel commented on #498
Yep.

[2018-12-06 15:00] jrcacd opened #499 "Clicking on a test on android studio does not open the corresponding code"
![image](https://user-images.githubusercontent.com/26005662/49591894-99ad0180-f967-11e8-8dc8-4a273f258d56.png)

[2018-12-06 15:19] Kerooker commented on #499
Thanks for taking your time to report!

Currently, the specific test scenario doesn't have the source/corresponding code. Depending on the spec you're running, it's not quite possible to identify which line executed the scenario.

The top-level spec has the source attached, and you can find it through there.

I'll see what's possible to do to include the source in the test case, but for now that's

[2018-12-06 19:20] Kerooker commented on #499
@sksamuel
I believe this might be possible if we add the calling line together with the Class Source. JUnit might be able to point the user to the line.

I'm running some tests with inlined functions, to see if they screw anything up

[2018-12-06 21:11] sksamuel commented on #499
Not yet. They have issues for it but their progress has been glacial imo.

On Thu, 6 Dec 2018, 20:28 Kerooker <notifications@github.com wrote:

[2018-12-10 14:01] Kerooker commented on #337
I believe you can use WithMockUser without annotations, which would make it possible to use in KotlinTest.

Try to take a look at https://stackoverflow.com/questions/40471424/withmockuser-without-annotation

[2018-12-10 14:05] Kerooker commented on #418
Which version of KotlinTest did this happen?
Failing tests don't display more than once to me.

[2018-12-10 16:47] sschuberth opened #505 "Running with "Test Impact Analysis""
First of all, sorry, this is more a question than an issue or anything else, but I'm curious whether someone has already tried combining kotlintest with https://github.com/rpau/junit4git? I'm not saying I'm expecting it not to work, but I wanted to know about any previous experience before I spend the time to give it a try.

[2018-12-10 17:01] Kerooker commented on #505
Interesting.
Never heard of it! I'm not even sure how it would work with KotlinTest

[2018-12-10 17:09] sksamuel commented on #505
Might be a good idea for a feature for 3.3 ?

[2018-12-10 17:13] Kerooker commented on #505
Maybe.
But I'm not sure if many people use that Junit4git. There are very few stars in Github and very few forks.

I'm afraid to put too much effort into adding this feature and nobody using it after all :x

[2018-12-10 17:40] sksamuel commented on #505
Should be easy enough to add though.

[2018-12-10 20:16] #495 closed

[2018-12-11 08:17] sschuberth commented on #505
See, @Kerooker, how could you use it if you (and other people) have never heard of it 😉 More seriously, you indeed need to know what you're looking for to find this sort of thing, or you need to be following [Martin Fowler's blog](https://martinfowler.com/articles/rise-test-impact-analysis.html). But the idea makes absolute sense to pursue, IMO.

Anyway, my hope indeed is that it's easy to use wit

[2018-12-11 11:02] sksamuel commented on #505
That project can't work as it uses JUnit specific stuff.

[2018-12-11 11:13] sschuberth commented on #505
Well, and so does kotlintest (if using `kotlintest-runner-junit5`), or? Ideally, I would have expected it to "just work" when using both `kotlintest-runner-junit5` and `junit5git` artifacts. If that's not the case for whatever reason, what would be the path to a potential implementation? A new `kotlintest-runner-junit5`?

[2018-12-11 11:15] sksamuel commented on #505
Don't forget there's junit5 platform and junit5-jupiter. The latter is what you use if you're writing junit tests, and what provides things like the junit test rules or whatever they're called now.

[2018-12-13 15:01] dave08 commented on #482
Quite a few people are using coroutines now, and it's kinda hard to just make an extension function for it since some of the things needed are `protected`... will support for it come out soon?

[2018-12-13 17:21] Kerooker opened #508 "Eventually should report what's going wrong together with the attempts"
Given the following piece of code:

[code]

It's a code that will test a lot of assertions. In this specific case, I mocked some assertions with one of them being wrong, but escalate that to a real world scenario.

This test obviously fails, as `1 shouldBe 2` will throw an AssertionError. However, when we take a look at the failure message, it doesn't tell us what failed:

` java.lang.AssertionErr

[2018-12-13 17:23] sksamuel commented on #508
Eventually can just take the message from a nested assertion error.

[2018-12-13 17:51] #508 closed

[2018-12-14 17:15] bbaldino opened #510 "Confusing block execution with isInstancePerTest=true"
I was trying to debug some test issues and was getting really confused following the code flow when `isInstancePerTest` is set to `true`.  I really like `isInstancePerTest` as it makes ensuring state is correct a lot easier, but it's confusing how many times each block is executed.  In this example test:

[code]

With `isInstancePerTest` set to false, it prints:
[code]
Which seems expected.  With

[2018-12-15 10:09] BorzdeG commented on #418
At the current moment (the latest stable versions of KotlinTest, Kotlin and IDEA) there is no error

[2018-12-15 10:09] #418 closed

[2018-12-17 21:14] bbaldino commented on #510
I just dug up the [spec isolation bug](https://github.com/kotlintest/kotlintest/issues/379) and it sounds like maybe that will address this?

[2018-12-18 17:14] dave08 opened #511 "Nested TestContext should be disallowed"
It took a while to figure out that in `StringSpec` you can't nest tests (there's no complaints in the IDE about it). Also in `FreeSpec`, if one accidentally leaves out the `-`... Would there be a way to warn or disallow such a thing (maybe a DSL mark?)?

Of course, someone that carefully reads the docs will see this, but not everybody bothers to look up something supposedly "obvious" (like me :/ )

[2018-12-20 03:34] Kerooker commented on #511
This makes a lot of sense.

I'll see if it would be possible without refactoring too much

[2018-12-20 04:53] Kerooker commented on #511
I don't believe it's possible with the current DSL Marker. As @sksamuel may have already tried, I tried to fiddle with it a little bit.

For instance, let's play a bit with the `FunSpec`, as it has a very simple nested test case to fobid:
[code]

If I mark `FunSpeec` with `KotlintestDSL` (a `DSLMarker`), this will indeed be forbidden. However, the situation isn't solved.

[code]

The above code wo

[2018-12-20 04:59] Kerooker commented on #510
I believe the current development of this issue is at the master branch. I don't believe there's a way for you to test it outside KotlinTest, unless you buid it yourself

[2018-12-20 11:53] arvearve opened #512 "Add project config option for `assertSoftly`"
It would be nice to be able to enable "soft asserts" for each test case once in project config, instead of spreading  `assertSoftly{}` around in every single test case.

[2018-12-20 11:58] sksamuel commented on #512
That's a good idea.

[2018-12-20 15:34] Kerooker commented on #482
@dave08
Could you provide me with a simple test case for your coroutines usage? I'm trying to design a test case for them, but I'm afraid to create a scenario that's not close to the real one.

I'm not very used to coroutines. What would I need to do? Run any `suspend` function from inside a test? So the test case

[code]

would kinda work?

[2018-12-20 15:43] bbaldino commented on #510
Cool, I'll build master and try it out.

[2018-12-20 17:40] bbaldino commented on #510
For some reason gradle doesn't pull down the right dependencies when I try it locally.  Is there going to be a release soon?

[2018-12-20 17:42] Kerooker commented on #510
We're planning on 3.2 for a bit now, but I'm not sure how soon it will be released. We're trying to add coroutines support before releasing

[2018-12-20 18:52] dave08 commented on #482
@Kerooker The most basic way to test in coroutines needs to surround each test with `runBlocking { }` which also provides a `CoroutineScope` to `launch` or `async` (and cancels all those automatically using structured concurrency) from and also gives the ability to run suspend functions. In your case that the reciever is already taken, you could perhaps provide the coroutinescope from runblocking

[2018-12-20 19:00] Kerooker commented on #482
And if `TestContext` is a `CoroutineScope`, I suppose it won't be necessary to add that `scope ->`, correct?

[2018-12-20 21:47] dave08 commented on #482
Correct. You have a prototype out I could see (like a branch or fork commit)?

I'm not sure if it's a good idea to use runBlocking even on regular tests, maybe a special infix like co (like in mockk...) to add it if a tests needs it.

Also in 1.0.0-alpha coroutines I think they added a test module, and the plans are to support a special TestDispatcher like the test scheduler in Rx, so it might be

[2018-12-20 21:54] sksamuel commented on #482
I started some work to make each `TestContext` a scope, but it gets complicated which is why it's parked atm.

We need it to work not only for suspend functions but also allowing async in there.

[2018-12-20 21:54] Kerooker commented on #482
I'm playing with your branch, @sksamuel

[2018-12-20 21:55] Kerooker commented on #482
@dave08 There's a specific branch called feature/coroutines in which we're trying some things

[2018-12-20 21:56] sksamuel commented on #482
Ok cool, but I parked it because I think it's gonna need a considerably more work.
Notably, I think the execution of the tests themselves can be done as a coroutine rather than in an executor. Then the coroutine context is propagated all the way down to the user's scope.

[2018-12-20 21:56] Kerooker commented on #482
That's what I was thinking too

[2018-12-21 17:32] #381 closed

[2018-12-21 17:32] johanvergeer commented on #381
Thanks, I didn't notice the ticket was still open. Closing it now.

[2018-12-23 11:16] dave08 commented on #482
In Spek, I could do:
[code]
Would there be a way to do this in KotlinTest?

[2018-12-25 16:55] dave08 commented on #482
A *very* simple way to introduce support would be to make a file with a bunch of extension methods like this:
[code]
It might not work for all test types though...

[2018-12-25 17:03] Kerooker commented on #482
Why is it better than just do `runBlocking` in everything? We wouldn't need
to do that

On Tue, Dec 25, 2018, 14:55 dave08 <notifications@github.com wrote:

[2018-12-25 17:05] dave08 commented on #482
If the core runs on Coroutines, then you're right. But if not, why have the extra overhead when not all tests will be using Coroutines?

[2018-12-25 17:17] Kerooker commented on #482
It's not that much overhead to run all in a blocked coroutine. It would
prevent users to have to add an extra keyword in the code. Do you think any
complication would happen due to this?

On Tue, Dec 25, 2018, 15:05 dave08 <notifications@github.com wrote:

[2018-12-25 17:32] dave08 commented on #482
You need real threads for when users call blocking api, the main advantage of coroutines is when using async api that can suspend and free up the thread it's runnning on for something else to use it. There's also a big distinction between cpu intensive computations that need `Dispatchers.Default` (# of cpus - 1 thread pool) and network/disk operations that when suspendable, can use `Dispatchers.IO

[2018-12-25 20:30] dave08 commented on #482
Also, another big point to consider is cancellation in structured concurrency, since an exception might end up cancelling its outer scope, and all the child coroutines (even from the other tests running in parallel). I'm not sure if that's the case with runBlocking in your case, but if so, you would need the root scope to have a SupervisorJob and have sub scopes surrounded by the `coroutineScope {

[2018-12-26 16:34] dave08 opened #513 "Support for @Before and @After in AnnotationSpec"
This could be very useful for those migrating from JUnit without tests that are too complicated.

[2018-12-26 16:35] Kerooker commented on #513
Makes sense.
However, should `@Before` be executed before Test or before Spec?

[2018-12-26 16:37] dave08 commented on #513
I think it should conform to JUnit, the point is to make for easy migration and compatibility.

[2018-12-26 16:38] Kerooker commented on #513
I'm not sure how JUnit works in this sense. I believe there's a @BeforeClass and a @Before. The first would run before Spec while the later would be run after Test, I suppose

[2018-12-26 16:39] dave08 commented on #513
https://www.baeldung.com/junit-before-beforeclass-beforeeach-beforeall, I think they sum things up pretty well.

[2018-12-26 16:42] Kerooker commented on #513
I think we should jump straight to `@BeforeEach` and `@BeforeAll`, that are from JUnit5, and ignore JUnit4. What do you think? Should we support both?

[2018-12-26 16:44] dave08 commented on #513
I think both, since those with JUnit4 tests can just derive from AnnotationSpec, and don't have to change anything else... maybe those old annotations can be marked as deprecated if you want people to follow one convention on new tests...

[2018-12-26 16:47] Kerooker commented on #513
People would have to change imports anyway.

Marking as deprecated is introducing an old testing model (JUnit4) into a new testing framework (KT).

If we're going to help people, I believe only JUnit5 should be supported. IF we keep giving support to somewhat legacy or old code, codebases will never change

[2018-12-26 16:48] Kerooker commented on #513
They're ambiguous in JUnit4, and they'll be ambiguous in Kotlintest if we do that.

Do you think it's very necessary?

[2018-12-26 16:55] dave08 commented on #513
For those with lots of tests... even junit took the time to make Junit Vintage so that they don't just drop all those users that don't have the time to upgrade... importing new annotations is just an alt-enter here and there...

By the way, do you really need your own Test (etc...) annotation? Maybe you could use JUnit's wouldn't that make things a bit simpler (and less confusing, imagine a user a

[2018-12-26 17:00] Kerooker commented on #513
Maybe we could start accepting both Junit's @Test and our @Test, in case of accidents.

We don't want the necessity of users to add the JUnit dependencies to use KotlinTest, and we should provide our own annotations.

And maybe you're correct, we should create a TypeAlias for both @Before and @After, but deprecate them.

[2018-12-26 17:03] dave08 commented on #513
Is there currently any way to add such a before to an AnnotationSpec without declaring a whole listener? I just need to reset mocks before each test and I need the references to those objects...

[2018-12-26 17:12] Kerooker commented on #513
There is.

[code]

You can also abuse the test isolation with `isInstancePerTest() = true`, so that your class is instantiated everytime

[2018-12-26 17:15] dave08 commented on #513
Also `@Ignore` could be very useful.

[2018-12-26 17:16] Kerooker commented on #513
You're correct on that one too.
I'll see what can be done

[2018-12-26 17:17] Kerooker commented on #513
@sksamuel
I think all these points are pretty valid for AnnotationSpec. But I also do believe that maybe we could add them to other specs if users would rather use them instead of overriding the `beforeTest` function and functions alike

[2018-12-26 17:18] Kerooker commented on #513
For instance

[code]

Could prove to be a valid syntax

[2018-12-26 17:20] dave08 commented on #513
In other tests, it would probably be better to integrate them into the DSL somehow for consistency... Since personally I don't like the init block unless I have to use it.. also it's not too clear when code running in an outside scope actually runs? In Spek it's a mess and you need to do beforeXXX { } for everything because the grouping scopes get run at discovery time, is this the same in KotlinT

[2018-12-26 17:31] Kerooker commented on #513
That's correct. It's not possible by design, as it only executes `block()` inside init.

We encourage the usage of `init`, as it makes the DSL pretty clear and easy to use. Personally, I never use the constructor directly. I prefer to have them all in a class, and use it that way in my company's code

[2018-12-26 17:32] Kerooker commented on #513
If we do it the way you made your example, the code will become cumbersome the same way as Spek, and we want to avoid it.

Functions in the class outside of the `init` block is the way we find best right now.

[2018-12-26 17:37] dave08 commented on #513
Doesn't it all get executed at test run anyways, unlike Spek? Spek does it in two stages, which makes things unclear and hard to reason about, but the constructor is the equivalent of the init block without possibility for overrides, but with a proper DSL things could be great.

With Spek, I couldn't count on code in the `"Foo" - { }` above to be run before all the tests under it... if with Kotlin

[2018-12-26 17:44] Kerooker commented on #513
Ok, so let me clarify it a little bit

[code]

should print

[code]

[2018-12-26 17:54] dave08 commented on #513
That's great, exactly what one would expect, but when there are two tests, then
[code]
it will be
[code]
What if we want:
[code]
?

[2018-12-26 18:09] dave08 commented on #513
Actually, I just ran that previous example and it gave me this:
[code]

[2018-12-26 18:09] Kerooker commented on #513
It executes exactly as you want. Your test class will actually execute like this:

[code]

[2018-12-26 18:11] dave08 commented on #513
Which fuzzies the whole definition of beforeTest and the user's mental model of it, no? I don't think this behavior is even documented?

[2018-12-26 18:37] Kerooker commented on #513
I believe it's just the form that the engine operates, and I don't believe there's a problem.

@sksamuel can validate this

[2018-12-26 19:55] Kerooker commented on #513
@dave08
I added an initial WIP implementation.
Some things to consider: KT doesn't even include JUnit in it's classpath, so we won't be accepting JUnit's Annotations for now.

I decided to leave out legacy `@Before`, `@After`, `@BeforeClass` `@AfterClass` for now, until we further discuss it if we do.

[2018-12-27 12:20] Kerooker opened #515 "Add support to Koin"
The Dependency Injection library [Koin](https://github.com/InsertKoinIO/koin) is being accepted in many projects that use Kotlin.

KotlinTest has support for Spring Boot already, and we should have support for other frameworks as well. `Koin` implementation would be pretty good!

There's already a [pull request](https://github.com/InsertKoinIO/koin/pull/107/) there to add support to Spek, but I th

[2018-12-27 12:43] Kerooker commented on #513
We could, but I'm not really sure if we should. If the user wants to use everything from JUnit so much, I don't believe there's any need to use KotlinTest in that case. If it's really necessary to do it, just go ahead and use JUnit + KotlinTest Assertions

[2018-12-27 12:46] dave08 commented on #513
The use case is what I mentioned before (like in my case): easy migration from JUnit. New tests will probably be using one of the DSLs, the old ones don't have to be changed too much. I've personally have had lots of `empty suite` and similar errors from using more than one test runner on Android. I currently have to run each test one by one (until I finish the migration and just remove the other

[2018-12-27 12:48] Kerooker commented on #513
Didn't expect that to be a problem. I use JUnit + KT in many classes here, but I didn't believe Android would be a problem for that

Ok, you convinced me. I'll reflect JUnit's annotations

[2018-12-27 12:51] Kerooker commented on #513
Although....
Wouldn't it be better to create our own annotations, and if you want you can change the import?

[2018-12-27 12:53] Kerooker commented on #513
This way we would just add in the legacy annotations, and you could change them all when you're changing to AnnotationSpec (you would have to do something in the class anyways)

[2018-12-27 13:16] dave08 commented on #513
I think that all those extra annotations should only be a support layer. If it wasn't too much work, it might even a good idea to use a Strategy Pattern here, or have a completely seperate JUnitSpec type for this. Your own annotations should only be the ones that are recommended in my opinion.

[2018-12-27 13:32] dave08 commented on #513
But once they finish the migration, all they need is to remove the setting, and they'll be changing to supported annotations as they go along. The setting is just to remove the extra overhead of reflection. If a user migrating has to do too much, they probably won't do it... and to support this as an option in the library is much easier than changing hundreds of imports manually.

[2018-12-27 14:49] sksamuel commented on #513
It's been a busy christmas so I'm just catching up on this thread and there's been quite a discussion!

Some points.

1. Allowing people to switch a test class from junit4 or 5 to kotlintest is great so we should support all annotations - ignore before beforeclass and so on.

We can do this by simply shadowing the annotation package names then we don't need to add junit to the classpath. We alread

[2018-12-27 14:58] dave08 commented on #513
On point 2 @sksamuel, I'm just wondering why not support before/afterXXX inside the DSL, it would give more fine-grained control on these inside the tests themselves, and also make it more clear and give the possibility to use the `val`s initialized inside the DSL instead of forcing everything to be at the class level.

[2018-12-27 15:12] Kerooker commented on #513
I disagree.
Adding these functions inside the test scope will make much more clutter, and it won't be simple. Ok, 1% of the userbase will have a more fine-grained control, but the other 99% will be very confused with it

[2018-12-27 15:33] sksamuel commented on #513
Do you think it would be that bad? It's an optional syntax form. Would be
top level only. I do want to be careful we don't make something as ugly as
Spek though.

On Thu, 27 Dec 2018, 15:12 Kerooker <notifications@github.com wrote:

[2018-12-27 15:35] Kerooker commented on #513
The behavior in Spek is confusing because for every test you have to add a `beforeTest` and an `afterTest`.... I'm afraid that this becames way too cluttered and confusing for new users. Moving from a JUnit syntax to KotlinTest is already a big step. Having to learn how all these scopes work may be too much and make users give up.

I'm not completely against it tho. However, we must give a lot of

[2018-12-27 18:55] sksamuel commented on #513
something like

[code]

why not allow it inside init too.

[2018-12-27 21:31] dave08 commented on #513
Before isn't good in this context, since unlike Spek, just put the code there without before. You really mean beforeEach or beforeEachTest which does something very different, in Spek you need it for the first kind too since the code runs during the test discovery stage before any test runs unless you use before, which is one reason why spek is messier, also memoized in spek is necessary for the s

[2018-12-27 22:37] sksamuel commented on #513
Actually beforeEach isn't needed if you use the correct isolation mode - where a new Spec class is created for every test.

Then you can just use val's as before and they're re-created every time.

[2018-12-28 02:34] Kerooker opened #516 "Should CollectionMatchers `containOnlyNulls` fail if collection is empty?"
In Collection Matchers, we have a matcher to verify if a Collection should `containOnlyNulls`. This matcher returns `true` if the collection is empty. But should it?

Semantically, when you're saying "This list contain only nulls", if the list is empty it doesn't contain anything, and you're saying "All elements of this empty bag are X". Well.. You're not wrong, as the bag has no element to look i

[2018-12-28 02:49] Kerooker commented on #516
This would only be valid for methods that are semantically incorrect.

For example, `list.shouldContainNoNulls()` should pass if the collection is empty, as it contain no nulls, but I don't know what should happen with `list.shouldNotContainNoNulls()` if the collection is empty

[2018-12-28 03:01] sksamuel commented on #516
What about adding two new ones which are very clear in their wording ?

[2018-12-28 03:37] Kerooker commented on #516
And what to do with the ones that are somewhat ambiguous? Deprecate them?

I'm afraid that way too many things are getting deprecated :P

[2018-12-30 02:42] Kerooker commented on #513
@dave08  and @sksamuel
I believe the PR is ready for a revision

[2018-12-30 03:45] Kerooker commented on #496
I couldn't reproduce this issue.
No answer from OP in a good time
No other users having this problem.

I'll be closing this. Feel free to open a new issue if you can reproduce it

[2018-12-30 03:45] #496 closed

[2018-12-30 03:53] Kerooker commented on #476
I'll grab this if you're not working on it, @sksamuel .

[2018-12-31 17:33] sksamuel opened #517 "Time limits"
Just been writing a test for https://github.com/sksamuel/elastic4s/issues/1542 and I needed to assert that a piece of code would time out within a period (and interrupt it). That's useful functionality to have here.

http://doc.scalatest.org/1.8/org/scalatest/concurrent/TimeLimitedTests.html

[2019-01-01 20:47] Kerooker commented on #517
Somewhat similar to the timeout configuration, but for a specific piece of code, and not the entire test?

[2019-01-01 20:59] sksamuel commented on #517
Kind of the opposite. It passes only if it times out.

[2019-01-01 22:18] Kerooker commented on #517
Cool idea

[2019-01-02 08:42] sksamuel commented on #482
@dave08 take a look at my implementation in #518

I would appreciate your feedback to see if I've left any holes.

Each spec is executed in it's own thread, and the actual test case is delegated out to a coroutine context created from a separate thread pool, so users writing blocking code won't result in a deadlock in the test framework itself.

The DSL allows suspendable functions everywhere you'

[2019-01-02 09:02] sksamuel commented on #476
I'll fix this as part of #518 as it will need to work differently.

[2019-01-02 10:33] sksamuel commented on #476
Added. Review as part of #518

[2019-01-02 10:35] sksamuel commented on #482
If we're happy with #518 after review + feedback changes, we can include in 3.2. We could drop #411 and I can finish #494 and then release 3.2.RC1 ?

[2019-01-02 10:50] sksamuel commented on #510
Coroutines is done now (pending review) so release should be imminent.

[2019-01-02 12:58] dave08 commented on #482
@sksamuel I'm a bit busy to go through this very thoroughly now, but I think you need to use a SupervisorScope around the whole test execution, and just surround each test with `coroutineScope { }` for the cancellation problem, if launch is done within a scope I don't think you need to join it. I might find more things if I take a better look, and I don't know junitplatform well enough to say that

[2019-01-02 14:30] sksamuel commented on #482
The problem with that is that coroutines use co-operative cancellation, so job.cancel won't cut the mustard.

[2019-01-02 14:49] dave08 commented on #482
@sksamuel What do you mean? If you use `coroutineScope { }` around each test, and the main scope has a `SupervisorJob`, the main scope won't be cancelled if the test scope was, but if you cancel the main scope (or its SupervisorJob), it'll cancel all of its children. You need some other behavior than this?

[2019-01-02 15:17] sksamuel commented on #482
What I mean is this.

[code]

`job.cancel` is not a drop in replacement for Thread.interrupt(). It's meant to be used with co-operative cancellation, and that isn't good enough for our requirements. I can't expect users to pepper their code with yield() etc, and most code that blocks won't be a coroutine anyway.

[2019-01-02 16:07] dave08 commented on #482
Got you now, so how did you currently solve that problem @sksamuel ?

[2019-01-02 16:56] dave08 commented on #482
In `InstancePerLeafSpecRunner` you use the `runBlocking` scope (`this`), but in `SingleInstanceSpecRunner` you use `GlobalScope` any reason for it @sksamuel ? `GlobalScope` is usually used for daemon type coroutines that execute the whole lifetime of the app...

[2019-01-02 19:12] sksamuel commented on #482
That was a leftover, I've changed it to use this.

In that link, it's using a dispatcher created via `newSingleThreadContext(name)` which is essentially what I do but via a single thread executor as an executor is nicer to use than a basic thread.

[2019-01-02 19:41] sksamuel commented on #513
I'm adding this to the 3.2 milestone. No reason why we can't sneak this in.

[2019-01-02 19:58] Kerooker commented on #513
I guess it's ok. It will be good if we can deliver 3.2 soon tho

[2019-01-02 20:12] sksamuel commented on #513
I think we're only a day or two away from RC1.

[2019-01-03 15:01] #513 closed

[2019-01-03 15:47] Kerooker commented on #516
Thinking about this again:

I believe there's no need to create a new matcher, and that this is a bug.

Semantically, `containOnlyNulls` and the likes translates to "It contains elements, and all elements are null", and not "It contains elements and all are null OR it is empty"

If the user wants to verify that a collection is empty, they can use `list.shouldBeEmpty()`, and not depend on `containO

[2019-01-03 15:51] Kerooker commented on #516
But particularly, the negative case will be a little hard to describe.

I believe `list.shouldNotContainOnlyNulls()`  should also not pass for an empty collection, for the same reason, but I'm not sure for all the cases

[2019-01-03 15:54] Kerooker commented on #516
I said above that depending on the case, an empty collection makes sense, but I believe that if you want an empty collection, you test it using `isEmpty`, not with a collateral of another matcher.

Independently of what we decide, this behavior will be added to the docs

[2019-01-04 12:13] Kerooker commented on #478
Doesn't seem to me that you're doing anything wrong.

However, the only way for us to identify which tests should be run based on tags is to find all tests with the specified tag.

I'm not sure if there's a lot to be done one this, but I'll see what can be optimized in that way. Any ideas, @sksamuel ?

[2019-01-04 14:45] sksamuel commented on #478
So we obviously have to scan all tests to find out which tags they have.
But 2 seconds a test is very slow.
The upgrade to use ClassGraph might help here as it's miles faster than Reflections.

[2019-01-04 14:54] Kerooker commented on #478
But maybe we can do some tweaks at Spec tags.
I see that we only scan for spec tags when we're about to run the test. Maybe we should do it when we're about to run the spec too. This way we won't scan for tests that we don't need to.

[2019-01-04 20:25] sksamuel commented on #478
The only time that would work is when a spec has an exclude tag that is active.

If you run `-Dkotlintest.tags.include=_Acceptance` and a spec doesn't have the tag, it doesn't matter. The test may still have the tag so you have to check tests.

We should just figure out why it takes 2 seconds a test. Let's try it without reflections (ie current master) and take it from there.

[2019-01-04 20:42] sksamuel commented on #516
I would just leave it as it is and document it clearly. I want to improve the matchers anyway.

[2019-01-04 20:58] Kerooker commented on #516
I'm working on them for 3.3 - Assertion Improvements. Is there anything you'd like to improve in that way? Or else what I'm doing will soon be legacy again :P

[2019-01-04 21:02] sksamuel commented on #516
Haha, would be nice if we could combine the matchers better. But I'm not sure how.

[2019-01-05 01:55] #411 closed

[2019-01-05 01:55] #386 closed

[2019-01-06 14:35] sksamuel opened #522 "SkipTestException"
Should we support skipling a test by thowing this exception like junit.

[2019-01-06 16:50] Kerooker commented on #522
Something like `@Expected`?

[2019-01-06 20:57] sksamuel commented on #522
I don't know what @expected is.
I just mean inside a test you can throw `SkipTestException` and instead of failing, it acts like the test is ignored.

[2019-01-07 06:09] sksamuel opened #523 "Retry Helpers"
Might be handy to have a way to re-run a test once or more, based on some retry strategy.

[code]

This would be similar to `eventually`, but is based on a number of retries rather than a period of time.

[2019-01-07 06:09] sksamuel opened #524 "SystemProperty Test Helpers"
Might be useful to have a trait that offers some functionality to perform a test with a system property enabled, and then restores the system property to whatever it was before.

[code]

[2019-01-07 06:11] sksamuel opened #525 "See / issue in config"
Might be handy to have an option to set "see" and "issue" links, perhaps in the TestConfig ?

[2019-01-07 06:12] sksamuel opened #526 "Generators for javax.time"
LocalDate / LocalTime / and so on

[2019-01-07 07:05] sksamuel commented on #498
One enhancement I think would be really nice would be the ability to do soft asserts in a closure:

[code]

For example

[code]

Would have to think about how to include not's in there.

[2019-01-07 07:05] sksamuel commented on #498
Another enhancement I think is to deprecate shouldHave, and just keep should and rename all matchers to work with the consistent "should" verb.

[2019-01-07 07:11] sksamuel commented on #525
Your thoughts @Kerooker

[2019-01-07 07:11] sksamuel commented on #524
Your thoughts @Kerooker

[2019-01-07 07:11] sksamuel commented on #523
Your thoughts @Kerooker

[2019-01-07 11:32] Kerooker commented on #526
I think it'd be great.

[2019-01-07 11:32] Kerooker commented on #525
Something similar to a `Warn` and `Error`?

[2019-01-07 11:33] Kerooker commented on #524
Find it great.
Would be good to have a plural form too `withSysProperties`

[2019-01-07 11:34] Kerooker commented on #523
What would `exponential`  mean? I think this is good

[2019-01-07 11:35] Kerooker commented on #522
Ah, I see...
I've never seen a test with this, but I don't think it will be hard to implement

[2019-01-07 11:37] Kerooker opened #527 "ExpectedException for AnnotationSpec"
In the same line of https://github.com/kotlintest/kotlintest/issues/522, JUnit has a parameter in `@Test` called `expected`
This parameter verifies that the test threw an Exception or a subclass of it.

For example:

[code]

Should we also support it?

[2019-01-07 12:08] sksamuel commented on #527
Yes I suppose for AnnotationSpec we should.

On Mon, 7 Jan 2019, 11:37 Kerooker <notifications@github.com wrote:

[2019-01-07 12:09] sksamuel commented on #523
Means you try again afafter yer 2 seconds then after 4 then 8 and so on.

On Mon, 7 Jan 2019, 11:34 Kerooker <notifications@github.com wrote:

[2019-01-07 12:10] sksamuel commented on #525
Some reports like allure allow you to link to an issue eg jira. We don't
have a way for users to add these other than the metadata map I added which
i dislike

On Mon, 7 Jan 2019, 11:33 Kerooker <notifications@github.com wrote:

[2019-01-07 12:16] Kerooker commented on #525
Oh, I see.
I actually don't hate the metadata map too much

[2019-01-07 12:20] #516 closed

[2019-01-07 18:22] Kerooker opened #528 "Add changelog for recent releases"
[Our changelog](https://github.com/kotlintest/kotlintest/blob/master/CHANGELOG.md) does not include anything from 3.1.11 release, and will need to include things from 3.2.0 release

[2019-01-07 18:30] Kerooker commented on #528
Sure thing.
Let's add any authors and link any issues/PRs, shall we?

[2019-01-07 19:38] Kerooker opened #529 "Redirect kotlintest.io to Github"
The domain http://kotlintest.io should be redirected to this github repository

[2019-01-08 02:03] breandan commented on #214
I think this is still an issue. I received this error when comparing two Double expressions that should be equivalent:

[code]

[2019-01-08 02:08] Kerooker commented on #214
NaN should indeed not be equal to NaN as per the specification.
Try to verify your logging level, it should warn you that you shouldn't compare NaN to NaN

[2019-01-08 02:10] Kerooker commented on #214
If you can, could you provide a piece of code that gives you that error?

[2019-01-08 02:18] breandan commented on #214
Occurs whenever I use the default `Double` generator. Here is a simple example that fails:

[code]

[2019-01-08 02:38] Kerooker commented on #214
It's not the `ToleranceMatcher` that is wrong. I believe it's `shouldBe` that is wrong. When you use `ToleranceMatcher` you're comparing NaN to NaN, and that should indeed result in a bug.

However, when you use `shouldBe`, it should fail too! But it doesn't, however!
The issue lies here:

[code]

At this point, `b` is `Any?`, therefore they're checked with `===`. This is bad! Your behavior actual

[2019-01-08 02:41] Kerooker commented on #214
When comparing Doubles that way, we only test using the `exactly` matcher. And it fails correctly!

Summoning @sksamuel . Should we change Double's comparison to
[code]

(file `dsl.kt`, line 86 should get you started)

[2019-01-08 03:08] breandan commented on #214
Interesting, but I'm still not clear how to write [the test](https://github.com/kotlintest/kotlintest/issues/214#issuecomment-452151188) using `ToleranceMatcher` so that it does not fail. Do I need to write a custom generator/matcher or handle the `NaN`s explicitly?

[2019-01-08 03:11] Kerooker commented on #214
Yes, correctly.

The point in generators is that you're saying "My program can handle absolutely any Double!" and both NaN and Infinities are valid doubles to be passed.

What we can discuss is if we should support out-of-the-box a matcher for "Numeric, non-corner-case Doubles"

[2019-01-08 03:14] breandan commented on #214
Yes, this would be very useful feature to have. In my case, I don't particularly care about the corner cases, but do care about numerical stability in certain ranges. It would be nice to have generation and shrinking for configurable ranges of numeric values.

[2019-01-08 03:15] Kerooker commented on #214
If that's the right way, we can discuss.
How far is too far in Double matching? I don't know.

In a case that we receive a Double via a Post Request, for example. If it's known that the API adds +1 to numbers. What if it becomes infinity? It is possible, therefore we should generate that.

[2019-01-08 03:15] Kerooker commented on #214
I'll be glad to implement a "NoN-extreme" Double Generator, if we figure out a name. Would you mind creating a ticket for that for us to keep discussing on it?

[2019-01-08 03:23] breandan opened #530 "Provide range-based numeric generators"
As [discussed in #214](https://github.com/kotlintest/kotlintest/issues/214#issuecomment-452160769), it would be useful for certain applications to provide a configurable range-based Double generator. Since the default `Double` generator is, [by design](https://github.com/kotlintest/kotlintest/issues/214), unable to compare two `Double` values as a consequence of the [JVM specification](https://sta

[2019-01-08 03:38] breandan commented on #214
Done, please use #530 to discuss custom generators for restricted subsets of floating point values.

[2019-01-08 12:38] sksamuel commented on #530
Or Gen.realDoubles with some word for real that means not nan or infinity.

On Tue, 8 Jan 2019, 12:18 Kerooker <notifications@github.com wrote:

[2019-01-08 12:43] Kerooker commented on #530
I think that by definiton, `realDoubles` would be correct, in a strictly mathematical point of view

[2019-01-08 12:44] Kerooker commented on #530
Actually... I'm not sure if irrational numbers can be represented

[2019-01-08 12:48] Kerooker commented on #530
We actually can.

[code]

[2019-01-08 12:52] sksamuel commented on #530
Well approximated. Can't represent an irrational exactly.

On Tue, 8 Jan 2019, 12:48 Kerooker <notifications@github.com wrote:

[2019-01-08 12:53] Kerooker commented on #530
You stand correct. Only a subset of real numbers are representable.

I liked `numericDoubles`

[2019-01-08 13:11] sksamuel commented on #530
exactDoubles, representableDoubles, numericDoubles

On Tue, 8 Jan 2019 at 12:53, Kerooker <notifications@github.com> wrote:

[2019-01-08 13:18] Kerooker commented on #482
I think  it's all ready for a snapshot release?

[2019-01-08 13:20] Kerooker opened #531 "Update changelog with 3.1.11 release"

[2019-01-08 13:21] Kerooker opened #532 "Update changelog with 3.2.0 release"

[2019-01-08 13:21] Kerooker commented on #528
https://github.com/kotlintest/kotlintest/issues/531 https://github.com/kotlintest/kotlintest/issues/532

[2019-01-08 13:21] #528 closed

[2019-01-08 13:50] sksamuel commented on #482
RC1 because we're not going to add / remove functionality, just fix bugs, and if none are found, it'll be final.
Which is what a release candidate is.

[2019-01-08 14:13] Kerooker commented on #482
Uh... I accidentally pressed something, and I think it creates a release (was trying to configure tag to display as pre-release).

Is that ok? x.x

[2019-01-08 19:58] sksamuel commented on #529
Done

[2019-01-08 19:58] #529 closed

[2019-01-08 20:08] sksamuel commented on #511
DSLMarker won't work.

Let's take StringSpec.

We want to allow people to write `"some string" { }` and so we add an extension method to String.
We don't want this extension method being called from any place, just when we're in the `StringSpec` class so we define it there, and now it's only accessible from instances of string spec.

But when we write a test, the test closure has an implicit recei

[2019-01-08 21:50] sksamuel commented on #511
It's inelegant in the sense that `TestContext` has to be cluttered with copy n pastes of all the methods from the various spec styles.

It will work though. I'll raise a PR for 3.2 or 3.3 ?

[2019-01-09 03:32] dave08 commented on #511
Couldn't you just add a check in TestCase that its parent is not a test but only a group and failfast on it? It really is less important to have IDE support for this since a user will get used to the test style and not make the mistake again (which is what happened in my case). The original confusion wastes alot of time (why aren't the tests running..) and may repell a first time user from using t

[2019-01-09 03:37] Kerooker commented on #511
I think we should release 3.2 ASAP, at least the RC. And then start with small increments until 3.3 (3.2.1, 3.2.2...)

[2019-01-09 13:27] #494 closed, assigned to nobody

[2019-01-09 13:30] Kerooker opened #533 "Add documentation for IsolationMode"

[2019-01-09 13:31] Kerooker commented on #533
Currently, the documentation only addresses `isInstancePerTest`
https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#one-instance-per-test

As it is now deprecated, we should replace the documentation to include the new format and how to use it

[2019-01-09 13:34] sksamuel commented on #533
Most of the docs can be lifted from the javadocs I've already added to the isolation modes and the runner implementations. I'll do this issue later tonight.

[2019-01-09 13:36] sksamuel commented on #511
Yes @dave08 that is a great suggestion, didn't think of that.

[2019-01-09 13:36] sksamuel commented on #476
Please try 3.2.0-RC1 as this should be fixed now. @Jager567

[2019-01-09 13:38] sksamuel commented on #439
@Kerooker we need to update the docs here too.

[2019-01-09 16:43] #439 closed

[2019-01-09 16:56] #532 closed

[2019-01-09 16:59] sksamuel commented on #510
Can you try 3.2.0-RC1 @bbaldino

[2019-01-09 17:50] Kerooker commented on #510
Let me look what's going on

[2019-01-09 18:03] bbaldino commented on #510
I added the string to a queue but get the same order

[2019-01-09 18:04] Kerooker commented on #510
Yes, I noticed that maybe I wasn't correct on that. I'll investigate further

[2019-01-09 18:05] bbaldino commented on #510
Although I'll note I tried printing from the queue in `afterProject` but it wasn't run.  If I do it in `afterSpec` it runs multiple times.

[2019-01-09 18:06] Kerooker commented on #510
How did you try to do in `afterProject`?

Use `afterSpecClass` if you want it run only once

[2019-01-09 18:09] bbaldino commented on #510
This is my afterProject:
[code]

`afterSpecClass` sees my list member as empty somehow?  Here's my test:

[code]

(I was seeing weird newline issues, so tried to flush after each print, hence the `fprintln`--though it didn't make any difference)

[2019-01-09 18:12] Kerooker commented on #510
Ok, that's odd

[2019-01-09 18:15] Kerooker opened #535 "Add documentation to Listeners"
The documentation on `TestListeners` must be updated to the new version. Some functions are not there, and some functions changes names. For example, `afterSpecClass`

[2019-01-09 18:17] bbaldino commented on #510
I can't seem to access `spec.scopeList` (it doesn't autocomplete, but if I put a break point there I do see it present as part of `spec`?).  But, when I break both `this.scopeList` and `spec.scopeList` have size 0.

After looking more closely, I had to cast `spec` to `ClassUnderTestTest`.  But either way both are still size 0 in `afterSpecClass`

[2019-01-09 18:17] Kerooker commented on #510
I think that it should either be on a static variable or on an object, as the spec is getting restarted everytime

[2019-01-09 18:18] Kerooker commented on #510
So the list is being erased everytime the spec is instantiated, as expected by IsolationType

[2019-01-09 18:18] bbaldino commented on #510
Ah good idea, yeah that fixed it.  Still see the same (unexpected) order though.

[2019-01-09 21:49] Jager567 commented on #476
It seems that test cases now fail correctly, but they still aren't aborted when they haven't finished executing within the timeout period. This means that
[code]
now correctly fails, but only after having executed for 10 seconds, while a test with an infinite loop will never finish.

[2019-01-09 22:09] sksamuel commented on #476
A normal test should abort if it's interruptable.

The problem is how do you interrupt a while loop.
You can't.

I can inject a thread interrupt.
I can cancel a coroutine.

But if you want to use an unbounded while loop then you're on your own.

[2019-01-09 22:15] sksamuel commented on #510
It could be done that way I suppose. It's just an artifact of the way the tests are queued up in the runner. I'll change it because I think it makes more sense your way.

[2019-01-09 22:19] bbaldino commented on #510
cool, thanks @sksamuel.  Excited to upgrade to 3.2.

[2019-01-09 23:08] sksamuel commented on #511
StringSpec and FreeSpec now fail at runtime with a nice error when you incorrectly nest tests.
This will be included in RC2 or final, whatever comes next.

[2019-01-09 23:08] #511 closed

[2019-01-09 23:32] sksamuel commented on #476
Ok, if junit is doing it, then it's probably using Thread.stop, which I can do as well, but it's been deprecated since Java 1.1. That will actually "kill" a thread in the way I said was impossible. I should have said "impossible without hacky solutions" :)

I suppose we _could_ do the same in theory. Let me look into their implementation.

[2019-01-09 23:33] sksamuel commented on #476
And you're right, at the very least the docs should be clear.

[2019-01-09 23:37] sksamuel commented on #476
So JUnit's implementation is surprising to me.

They just wait xx seconds, and if you're not finished, they'll interrupt your thread, and then carry on, reporting it as failed. So your test report is all hunky dory.

Your thread won't actually be killed though, and it'll just continue in the background until the JVM shuts down. I suppose they are either naive, or assume that the JVM will terminate

[2019-01-09 23:53] #533 closed

[2019-01-10 00:05] sksamuel commented on #510
I've fixed this so will be in the next release candidate.

[2019-01-10 10:03] sksamuel commented on #381
Can you do a test for me. Inside your project config object where you define the spring listener can you throw an exception instead and rerun. I'm wondering if the project config is no longer being detected.

[2019-01-10 13:16] sksamuel commented on #329
Should work for all, but only top level tests. @dave08

[2019-01-10 14:50] dave08 commented on #329
It would be great if it could work for groupings and top level tests, since in KotlinTest there's no IDE arrows like in Spek and JUnit besides each test, so one has to run the whole class or disable all the other tests just to concentrate on the one test he/she's developing... @sksamuel

[2019-01-10 16:08] ThanksForAllTheFish commented on #381
false alarm, sorry for the noise. I did not notice `gradle` was pulling two different versions for `kotlintest-runner-junit` and `kotlintest-extensions-spring`.

[code]

by using same `RC` (1 or 2 makes no difference) the test succeeds again. As reference (because version resolution looks strange to me) I have this section in my `build.gradle.kts`:

[code]

Anyway, again sorry, should have checked

[2019-01-10 16:10] Kerooker commented on #381
No problem at all!

Thanks you for investigating and finding out what was wrong :D

On Thu, Jan 10, 2019, 14:08 Marco <notifications@github.com wrote:

[2019-01-10 16:18] sksamuel commented on #329
If you put f: in front of your test name then only that test (and nested tests under it) will be executed @dave08
Eg,

See

https://github.com/kotlintest/kotlintest/blob/master/kotlintest-tests/kotlintest-tests-core/src/test/kotlin/com/sksamuel/kotlintest/FocusTest.kt

I'm not sure what you mean by your second comment about ! and options.

[2019-01-10 16:35] dave08 commented on #329
Say:
[code]
@sksamuel

[2019-01-10 16:39] #531 closed

[2019-01-10 16:40] sksamuel commented on #329
I see, no you can't do that. The reason is, inner tests are not known until runtime. So it would break the way the test runners work.

You can put the f: on the describe block.

[2019-01-10 16:46] Kerooker commented on #535
@sksamuel
Will you work on this, or can I pick this up?

[2019-01-10 16:57] sksamuel commented on #535
Up to you.

[2019-01-10 17:06] dave08 commented on #329
So how does providing the `options()` work in `it()`, one could disable the test there... if when adding the test you check the label string to make the same decision it would be possible no? At least for `!`... I don't think I saw a parameter for `f:` in the `options()`, maybe that's what you mean is impossible? I was actually wondering why there's no `focus` param there...

[2019-01-11 13:34] sksamuel commented on #329
In order to determine which test to run, it has to check all of them in the same scope.

If you do:

[code]

Then test 1 needs to be skipped because you've focused test 2. So it needs to scan ahead. We can't do this in nested scopes as the test closures are executed lazily, so that variable initialisation etc, works properly.

[2019-01-11 14:04] dave08 commented on #329
So maybe have a `f2:` on each level scope to focus on the second item on the level under it? A bit harder to use, but may be easier to know at run time what to run @sksamuel.

[2019-01-11 14:07] Kerooker opened #538 "Verify 3.2.0 release on branch release/3.2.0"
To continue developing for 3.3.*, let's move 3.2.0 progress to branch release/3.2.0. If there are bugfixes that must happen in the release candidates, they can be on that branch.

Any other change can be made to Master branch.

[2019-01-11 14:07] sksamuel commented on #329
That's not the problem.
The problem is that you have to look ahead. If you mark test 20 with f: or f2, then the engine has to skip the first 19. It can only know to do this if it has already scanned the complete list of test names.

[2019-01-11 14:08] sksamuel commented on #538
I would say lets wait until we release 3.2 proper, then do it.
We might want to make last minute changes. In the meantime, we can prepare PRs and just not merge them yet.

[2019-01-11 14:11] dave08 commented on #329
I mean f2 would be on the parent to indicate the second test or group under it is focused

[2019-01-11 15:53] Kerooker opened #539 "AnnotationSpec throwing java.lang.reflect.InvocationTargetException instead of User Exception"
When executing a test with AnnotationSpec:

[code]

I expected the stacktrace to contain my exception and my line at the top, but instead it returns a weird Stacktrace.

This happened after changing it's execution to `invokeSuspend`

[code]

[2019-01-11 16:11] Kerooker commented on #539
I just discovered this isn't actually related to `invokeSuspend`, therefore it doesn't have anything to do with `3.2.0-RC2`. It's just a bug in `AnnotationSpec`

Should we point it to 3.2.0 anyways, @sksamuel ?

[2019-01-11 16:38] sksamuel commented on #539
Yeah can put it on 3.2.0 unless someone asks for it on 3.1

[2019-01-11 16:45] Kerooker commented on #539
I meant if this should go for 3.2 or 3.3, as it's unrelated to 3.2

[2019-01-11 16:47] Kerooker commented on #538
Ok, i'll leave it to master only hten

[2019-01-11 16:47] #538 closed

[2019-01-11 16:48] sksamuel commented on #539
Yes it's a bug and we've not yet released 3.2.0 so definitely target that.

[2019-01-11 16:49] #539 closed

[2019-01-11 18:20] Kerooker commented on #535
I'll do it then

[2019-01-12 13:02] sksamuel commented on #329
You mean f2 would indicate the 2nd test was focused, and f3 the third test and so on?

[2019-01-13 03:33] dave08 commented on #329
Yes, the second test under the indicated scope, but a clearer naming might be chosen to indicate not focusing on the item with the f but its child maybe `f-2:` (like the freespec group indicator `-` ) or `2>` or `>2` ?

It might get complicated in parameterized tests, I don't know if it would be possible to run the whole parameter set (not just the 4th one for eg.), which makes I think more sense

[2019-01-14 12:46] #535 closed

[2019-01-14 18:01] Kerooker opened #560 "Schedule release for 3.2.0"
We're on the release candidates for some time.

Can we pinpoint a date to consider this stable, and release the final version?

I'm using it in all my projects (around 1.3k tests now), and nothing seems odd until now

[2019-01-14 18:04] sksamuel commented on #560
The only "risky" feature really is coroutines.
If all your 1.3k tests pass, and kotlintest tests' itself pass, then I think we're good.
Could release tonight ?

[2019-01-14 18:38] Kerooker commented on #560
I don't know exactly when tonight is for you. I'll release in about 8h, is that ok?

[2019-01-14 18:39] Kerooker commented on #510
Fixed.

[2019-01-14 18:39] #510 closed

[2019-01-14 18:44] Kerooker opened #561 "Add support for Gherkin / Gherkin Spec"
Although we have have `BehaviorSpec`, a big necessity that I've been observing in some projects that test Java/Kotlin code is using the `CucumberRunner`.

With tests written in [Gherkin](https://docs.cucumber.io/gherkin/), a team can generate a powerful suite of tests that are read from a `.feature` file, in natural language, and then transform it into code.

However, the code written to be execut

[2019-01-14 18:58] Kerooker commented on #398
Hi!
I'm sorry for the very late response. I'm revisiting old issues now and didn't see this one.

I also use Jacoco as a test coverage tool, and I use KotlinTest. Maybe something is different on our ends?

Would you please try with the new version and see if it's working?

[2019-01-14 19:00] Kerooker commented on #382
@sksamuel
I'm revisiting old issues that were never closed/solved.

Do you think we should support this?

[2019-01-14 19:30] sksamuel commented on #382
I'm all in favour of improvements, but I'd have to see a concrete design before being able to offer an opinion.

[2019-01-14 19:32] sksamuel commented on #561
Personally I think cucumber is total shit. The reason is when I was forced to use it about 5 years ago I had to create loads of text files, loads of annotations, and put together tests in a way that was 10x slower than just writing them in code properly.

The rationale - that "non techies" can read the tests. Well that's nonsense - BA's can't write cucumber tests anymore than they can write scalat

[2019-01-14 19:38] Kerooker commented on #382
I believe what could be done is something like this

[code]

For these kind of wording, it's very fluid to read, and wouldn't be very far from the original intend of the `should` keyword in `WordSpec`, as it still writes `Foo should "BAR"`, but with an extra possibility

[2019-01-14 19:40] Kerooker commented on #382
Or something like

[code]

It would be exactly the same as

[code]

[2019-01-14 19:42] sksamuel commented on #382
It's adding specific syntax for a very small use case imo.
What about if someone wants the same thing to check if something is true, or > 10.
At the end of the day:

[code]

Is just as good ?

[2019-01-14 19:44] sksamuel commented on #382
If it could work in a spec-neutral way then I'd probably be more in favour but this kind of design only works for word spec. I'd not vote in favour of seeing one spec become more powerful than the others.

[2019-01-14 19:46] Kerooker commented on #382
I don't see a problem in different specs working in different ways, as long as you can do everything in all of them.

`AnnotationSpec`, for example, is getting a lot of buffs recently, but all that can be done with it is also doable with any other spec. Expecting exceptions, for example.

If it's something only appliable to `WordSpec`, it's ok... Is there a way to do it in `StringSpec`? Yes. It's

[2019-01-14 19:47] Kerooker commented on #382
And `shouldThrow` is not that small use case. As we did with `AnnotationSpec` due to JUnit, and implemented `shouldThrow` due to more people needing it, verifying that a certain piece of code throws an exception is a very important scenario. If we can make it less verbose, I'd say we should go for it.

[2019-01-14 19:48] Kerooker commented on #382
I'm trying to imagine that if you have 10 scenarios which you want to throw an exception, you'd have to nest 10 additional `{}` in WordSpec, and the tests will get less readable

[2019-01-14 19:50] Kerooker commented on #382
It's different from `shouldBeTrue` and `shouldBeBiggerThan10`, because an exception is a very generic use case. Any piece of code can throw it, and it's not returned (Like a true or false), so it can be used for more use cases than a `shouldBeTrue`, which would only work for scenarios that return booleans

[2019-01-14 19:50] sksamuel commented on #382
I think annotation spec is the odd cousin, because I don't think anyone would "choose" to use it. I created that as a way of migrating from junit with less hassle. All new tests, you are likely to pick another style right?

Can you come up with a proposal for the other specs?

[2019-01-14 19:53] Kerooker commented on #561
I don't really like cucumber either, but some people think that it's the best approach to BDD.

Maybe instead of implementing a full gherkin spec, we could add keywords for the `BehaviorSpec` to make it closer to the Gherkin alternative?

For instance, `Scenario`, `BackgroundScenario`, `Given -> And -> And -> When -> ...`. I agree that the `.feature` files are mainly for QAs to write the tests wit

[2019-01-14 19:56] Kerooker commented on #382
I'd never use annotation spec, but maybe someone wants to? Not my business :P

Maybe we can find a way of doing this in some of the other specs, but for instance, in `BehaviorSpec` it wouldn't be possible. What would it be? `ThenThrows<FooException>("The calculator calculates")` It wouldn't be as fluid as for `WordSpec`, but we can still use `shouldThrow` there

[2019-01-14 19:56] Kerooker commented on #382
My point is that it's ok for specs to be a little bit different

[2019-01-14 20:21] sksamuel commented on #561
Are you just trying to turn KotlinTest into Spek :)

Personally I'm a no, I think it's a limited use syntax and we already have a lot of specs that there should be a good case for another.

But if you feel really strongly about it...

[2019-01-14 20:22] sksamuel commented on #382
Yes you've persuaded me that specs can be different but I would like to see a "bit" of consistency.

[2019-01-14 20:33] Kerooker commented on #382
Maybe with what we discussed here, this syntax may be applied to `WordSpec` and perhaps `ShouldSpec` ?

[code]

[2019-01-14 20:37] sksamuel commented on #382
Also need to bear in mind clashes with the the existin shouldThrow
functions.

On Mon, 14 Jan 2019 at 20:33, Leonardo Colman Lopes <
notifications@github.com> wrote:

[2019-01-14 21:16] sksamuel commented on #561
What's wrong with someone creating a jira with acceptance criteria in it? In my experience too much process is overengineering.

But surely BA's et al, can work out a string spec? It's pretty simple.
But again as I've said open to ideas.

[2019-01-14 23:50] JustinTullgren opened #562 "Request for BehaviorSpec sample"
Hi,

Version: "io.kotlintest:kotlintest-runner-junit5:3.1.11"
Kotlin Version: 1.3.11

I am curious how to use the `And` syntax with a BehaviorSpec.
[code]

When trying to do this the receiver context can't be determined:
`Unit can't be called in this context by implicit receiver. Use explicit context if necessary`.

Adding the context `this@given.and` does not resolve the issue and the test contex

[2019-01-14 23:58] sksamuel commented on #562
And can only be used at the given scope.
We should probably allow it inside the when scope too.
@Kerooker an easy one ?

[2019-01-15 00:08] Kerooker commented on #562
The problem to do it in the `When` scope is when will it stop? We were discussing this earlier today hahah

[code]

But maybe this is users' choice?

[2019-01-15 00:21] sksamuel commented on #562
If you want to go crazy why not.
No difference to using free spec and nesting 200 times.

[2019-01-15 14:10] Kerooker opened #583 "Add documentation for usage with `Mockk` and other mock libraries"
Recently, in `Mockk`'s slack and `KotlinTest`'s slack, some users have reported troubles when using `Mockk` with KotlinTest, due to the mockk context not being cleared after tests.

This is due to the isolation mode being incorrect for the use case, as the user normally wants the class to be instantiated once per test (`InstancePerTest` isolation).

As `Mockk` is a very used mocking library for Ko

[2019-01-15 22:45] #527 closed

[2019-01-16 12:25] sksamuel opened #587 "Timezone Extension"
What do you think about adding something like this: https://junit-pioneer.org/docs/default-locale-timezone/

[2019-01-16 12:56] sschuberth opened #588 "Starting to see InterruptedExceptions with kotlintest 3.2.0"
While running tests on the [PR that migrates our app to kotlintest 3.2.0](https://github.com/heremaps/oss-review-toolkit/pull/1195) I start to see `InterruptedExceptions` where previously (with kotlintest 3.1.11) everything was fine. See e.g.

https://travis-ci.com/heremaps/oss-review-toolkit/builds/97502719#L1263
https://ci.appveyor.com/project/heremaps/oss-review-toolkit/builds/21656801#L3532

I

[2019-01-16 16:46] danwallach opened #589 "feature request: enhancements to data-driven testing"
I've been looking to port some work I've done from Java to Kotlin, and I've been looking at porting my tests from JUnit5 and QuickTheories to do everything with KotlinTest. I'm really enjoying what I've seen so far, and I have several suggestions for how data-driven testing is handled.

**forAll vs. forall**
Currently, there's a `forAll` operator for doing property-based testing, a `forall` operat

[2019-01-18 08:14] sschuberth opened #591 "Clarify the docs for the "invocations" config option"
From reading [this](https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#test-case-config) it's unclear to me whether a test with e.g. `invocations = 3` will always be run 3 times, or only tried up to 3 times until a test run succeeds.

Also, supposing the test is always run 3 times in my example, what is the behavior if some runs fail and some succeed? Is it enough for a single r

[2019-01-18 10:57] #591 closed

[2019-01-18 14:31] Kerooker opened #594 "Add `And` scope to `BehaviorSpec` Then"
Any scope inside a `Spec` must either be a `TestType.Test` or `TestType.Container`. A scope cannot be both.

There is a possibility to use `TestType.CONTAINER_AND_TEST`, however, [Gradle is bugged](https://github.com/gradle/gradle/issues/4912), and doesn't work with it.

For this reason, we cannot have `Then -> And -> Then` in behavior Spec, because `Then` might be a test and a Container.

As we c

[2019-01-18 14:46] #562 closed

[2019-01-19 02:20] #588 closed

[2019-01-19 03:31] Kerooker opened #595 "Create 3.2.1 changelog"

[2019-01-19 03:42] #595 closed

[2019-01-19 03:49] #561 closed

[2019-01-19 17:01] sksamuel opened #597 "Documentation for test filtering via gradle"
Gradle has many options for filtering tests. I'd like to see some documentation on how users can apply this to kotlintest, as well as setting up custom test tasks that only run a subset of tests.
(Both class based filtering and package based filtering)

[2019-01-20 00:28] robstoll opened #598 "[F] reuse specs, allow generic specs"
I am opening this feature request due to a slack discussion. I am not a kotlintest user, so bare with me. As far as I understood, it is currently not possible to reuse specs. I would like to be able to write generic specs. Say you have Strategy A, B and C all implementing MyStrategy.
- ideally you only need to write one spec and all strategies can reuse it.
- it should also be possible to reuse a

[2019-01-20 01:08] #399 closed

[2019-01-21 11:01] dave08 opened #601 "Assert not null or specific object type for further assertions on an object"
Say:
[code]
This should and assert that Person is not null, and provide the ability to check the non-null result. This could also probably be done with Kotlin Contracts, just by doing a null assertion before other assertions. The difference between this and `result!! should { }` is that the previous is an actual assertion and the latter is a runtime failure.

Something similar could possibly done

[2019-01-21 18:39] #601 closed

[2019-01-22 01:42] #476 closed

[2019-01-22 19:02] #205 closed

[2019-01-22 22:51] atamboli opened #604 "How to output the request and response when running the test in parallel"
I would like to see the standard output in the test html report. I run the test using 'gradlew test;
I can see the standard output when i run only one thread. But if i ran the tests in parallel, it would show output of only one test class.

[2019-01-23 15:58] JustinTullgren opened #605 "Question: Bang and Focus outside of StringSpec"
Hi,

Are bang and focus only supported in StringSpec? I like bang over `.config(enabled = false)` but it doesn't appear to work with the BehaviorSpec at the `given` level. I have not tried other specs, however.

This doesn't appear to work:
[code]

Thanks!

[2019-01-24 12:53] #605 closed

[2019-01-24 16:06] blackmichael commented on #184
@sksamuel I found your plugin on [IntelliJ](https://plugins.jetbrains.com/plugin/11585-kotlintest)! Unfortunately when I try to run the individual tests it still runs the entire spec, but I'm sure that will get worked out in a subsequent release.

For reference, I'm using `StringSpec` with all tests defined within the `init` block.

[2019-01-24 16:08] Kerooker commented on #184
Hey, @blackmichael
The plugin is still in a very very very early phase.
We'll improve it in the following days, but right now it's still under development

[2019-01-24 16:42] sschuberth opened #607 "Make "condensed" multi-line diffs configurable"
While it's nice that https://github.com/kotlintest/kotlintest/issues/402 was implemented, there are cases where we'd like to turn off that feature, e.g. to accept actual results as the new expected results. Can we maybe have a system property that toggles the "condensed" multi-line diff, turning it off by default for backwards compatibility with most past releases?

[2019-01-24 17:50] #604 closed

[2019-01-24 20:12] sksamuel commented on #184
Yes it should be marked as "experimental" but saying that, it should work for string spec.
What happens when you try to run it? Any feedback appreciated @blackmichael

[2019-01-24 20:42] blackmichael commented on #184
@sksamuel I'm able to see the test arrows, which is good, but when I try to run an individual test it instead runs the entire spec. So as of right now it doesn't break anything, just doesn't add any functionality

[2019-01-24 21:00] sksamuel commented on #184
Ok let me test it again with Spring Spec.

[2019-01-24 21:16] sksamuel commented on #184
Works for me, but it reminds me that I've made changes to KotlinTest itself internally to make this work, and you don't have access to that.

[2019-01-24 21:41] blackmichael commented on #184
@sksamuel that might explain it. I'm using kotlintest plugin v3.3.0.1 and kotlintest v2.0.2

[2019-01-24 21:45] sksamuel commented on #184
KotlinTest 2.0.2 is ancient, the plugin will never support that.
3.0 3.1 and 3.2 are all fairly similar. I'd upgrade to 3.2.1 if I were you.
@Kerooker we need to think about publishing 3.3.x snapshots.

[2019-01-24 22:19] blackmichael commented on #184
@sksamuel Oh boy, that's embarrassing. I just blindly copied the gradle dependency from another project on my team without verifying the version. I've upgraded to 3.2.1, however I'm still experiencing the same behavior

[2019-01-24 22:32] sksamuel commented on #184
Yes you will, 3.3.0.1 is required (which only exists on my hard drive atm). But 3.3 from 3.2 will be painless when it comes.
I really only intended the publication of the plugin for @Kerooker as it was literally the first release.
Happy for you to play around though, I'll just need to setup some kind of snapshots into maven so you can take the latest and greatest, as the plugin has required change

[2019-01-24 23:12] blackmichael commented on #184
Sounds good. I'm fine waiting for the finished release, but if you'd like me to try out pre releases with my current use cases I'll gladly help you out.

[2019-01-25 13:28] elect86 opened #610 "Kotlintest 3.2.0+ makes my Gradle `build` task hangs or `GC overhead limit exceeded`"
As titled, project at this [commit](https://github.com/kotlin-graphics/gli/commit/1a950ae926ffa26dddc52b0b1f1affec3580e53f)

with 3.1.11 no issues at all

[2019-01-27 00:19] evanbennett opened #611 "Arrow Extension - null support"
In https://github.com/kotlintest/kotlintest/blob/master/kotlintest-assertions-arrow/src/main/kotlin/io/kotlintest/assertions/arrow/either/matchers.kt, should all uses of `Any` be `Any?` to support nullable types?

[2019-01-27 00:49] evanbennett opened #612 "Arrow Extension - `should beRight` lambda expression support"
To test the returned value of an `Either` I am using:
[code]

It would be nicer to be able to use lambda expression support, such as:
[code]

Note: `passwordColumn.loadType(...)` returns `Either<ValidationError, Password?>`.

[2019-01-28 12:11] sksamuel commented on #184
if you want to be a guinea pig then absolutely @blackmichael
We now publish snapshots to https://oss.sonatype.org/content/repositories/snapshots, so add that repository to your build, and grab 3.3.0.1735-SNAPSHOT.
That version is compatible with the latest KotlinTest plugin.
The only spec styles covered so far are String, Should, Fun, Word and Behaviour.

[2019-01-28 14:42] sksamuel opened #614 "Reflection Matchers"
Would it be useful to have matchers like `a.shouldHaveMethod("foo")` and `a.shouldHaveAnnotation("foo")` and so on.

[2019-01-28 14:43] sksamuel opened #615 "ShouldBeAssignableTo"
Potential matcher: `a.ShouldBeAssignableTo<T>`

Would throw if a is not a subtype of T.

[2019-01-28 14:44] sksamuel opened #616 "ShouldBeOneOf"
Potential matcher:

[code]
 would fail if a is not one of the instances that comprise bs

[2019-01-29 12:30] jeremad opened #622 "Could not find method test()"
I probabky do something wrong, however I have been stuck on this one for a while now.

I set up an empty project to reproduce my issue myproject/build.gradle:
[code]

And I follow the documentation in myproject/app/build.gradle:
[code]

And When I try to build I get the following error: (--stacktrace --debug --info are not very helpful)
[code]

I use gradle 4.10.3 and android studio 3.3

Anything

[2019-01-29 16:14] #524 closed

[2019-01-29 17:24] Kerooker opened #623 "System Environment extensions"
In the line of #524, we should allow configuration for System Environment Variables (which are differente from System Properties).

It's not trivial to do, because `System.getenv()` returns an immutable map, which can't be appended to.

The library [System Rules](https://stefanbirkner.github.io/system-rules/) does it with a JUnit rule, specifically in [this class](https://github.com/stefanbirkner/

[2019-01-29 17:41] Kerooker opened #624 "Security Manager extension"
In the line of #524 and #623, we should have a Security Manager extension.

The library [System Rules](https://stefanbirkner.github.io/system-rules/) does it with a JUnit rule, specifically in [this](https://github.com/stefanbirkner/system-rules/blob/master/src/main/java/org/junit/contrib/java/lang/system/ProvideSecurityManager.java) class.

We can do something similar, and in the same pattern of

[2019-01-29 17:43] Kerooker opened #625 "Rework extensions"
We were discussing in #623 about reworking how extensions work, either creating a separate module or shoving all extensions in core.

Let's discuss a little bit on what we should do in this matter

[2019-01-30 09:17] #622 closed

[2019-01-30 12:22] jeremad opened #626 "Test folder and android studio"
In my android project:
* I successful migrated test classes from kotlintest 2 to kotlintest 3.2
* I can run test classes individually
* I could run the whole test directory with kotlintest 2
* Now when I try to run the test directory:
[code]

[2019-01-30 20:30] sksamuel opened #628 "KotlinTest Roadmap 3.3"
Features and fixes for 3.3

- [x] - Intellij Plugin
- [x] - System properties and env extensions #623 #524
- [x] - Timezone and locale extensions #587
- [x] - Make "condensed" multi-line diffs configurable #607
- [x] - Security manager extension #624
- [x] - New matchers and assertion improvements #616 #601 #603
- [x] - Arrow Extension - null support #611
- [x] - New Generators #530 #526
- [x] - E

[2019-01-31 14:05] #625 closed

[2019-01-31 14:12] #526 closed

[2019-01-31 14:12] #530 closed

[2019-01-31 14:14] #587 closed

[2019-02-04 21:27] leoxs22 opened #634 "new behavior spec without parentheses"
Scalatest has a syntax like this:

[code]

I'll try to code it if someone can confirm that this could be a good adittion. I think that this syntax is cleaner than the BehaviorSpec, providing the same functionallity.

[2019-02-05 16:00] #634 closed

[2019-02-05 22:04] sksamuel commented on #184
@blackmichael did you get chance to have a look ?

[2019-02-06 18:43] bbaldino commented on #184
@sksamuel is there a list of which specs are supported by the plugin at this point?

[2019-02-06 18:47] sksamuel commented on #184
Word string should behaviour feature fun

On Wed, 6 Feb 2019, 18:43 bbaldino <notifications@github.com wrote:

[2019-02-06 18:49] bbaldino commented on #184
Thanks, I'm trying `ShouldSpec` but not seeing much difference, but I just noticed in the 3.3 release bug that 3.3 is required for the plugin to work?

[2019-02-06 19:18] sksamuel commented on #184
Yes grab 3.3 snapshot from maven central snapshots

On Wed, 6 Feb 2019, 18:49 bbaldino <notifications@github.com wrote:

[2019-02-06 19:33] bbaldino commented on #184
Do you mean sonatype?  I've tried adding:
[code]
to ~/.m2/settings.xml and then changing the version in my pom to `<version>3.3.0.1785-SNAPSHOT</version>` but it doesn't seem to be able to find it

[2019-02-08 11:33] j-h-a opened #639 "SLF4J dependency issue"
When creating a new project in AndroidStudio 3.3, and checking the AndroidX box during the new project wizard, creating a default empty project then adding KotlinTest as instructed:

[code]

Then add a simple test using KotlinTest, the test executes no problem but gives this warning:

[code]

I'm new to Android and gradle, so don't really understand what's going on here. Is it some kind of interna

[2019-02-10 15:51] sksamuel opened #641 "Required flag for test invocations"
By default, if we have invocations > 1 then all must pass. We could add a new flag, required, which allows the user to say that some are allowed to fail. Eg,

[code]

In this scenario, only 7 are needed to pass.

[2019-02-10 15:59] sksamuel opened #642 "Add junit engine testkit tests"
JUnit 5.4 has added an engine test kit which we could use to further enhance tests on our engine implementation.

[2019-02-10 18:52] sksamuel opened #643 "Continually"
The dual of eventually.

You might want to confirm that a predicate holds for a period of time. For example, you may want to confirm that a producer continues to produce new elements for a period of time, or that a http connection stays open for a period of time.

[code]

[2019-02-10 18:53] sksamuel opened #644 "Fail build if ignored tests option"
We could add an option that fails a build if there are one or more ignored tests.
The idea is that a user sets tests to ignored locally while developing, but then forgot to turn them back to enabled before committing. This would catch that.
Of course, this is optional, the default behaviour is to allow ignored tests.

[2019-02-11 10:50] almozavr opened #645 "Tests are broken with Gradle 5+"
Android build with unit tests fails to run with following exceptions:
[code]
It seems to be very similar to this issue: https://github.com/gradle/gradle/issues/6453#issuecomment-415780499 Also this linked workaround helps (but useless in mid/big project).

Gradle `4.10.3` works flawlessly.

My failed env:
[code]

[2019-02-11 13:35] #616 closed

[2019-02-12 10:30] sksamuel opened #649 "Fake/Sample/Test data generator"
What do you think about offering data generators?
A bit like:
https://github.com/moove-it/fakeit
https://github.com/DiUS/java-faker
@Kerooker

[2019-02-12 12:39] #645 closed

[2019-02-12 13:30] sksamuel commented on #184
Yes, if you're running the 3.3.0.2 plugin, you should be able to see run icons for all tests in should spec, string spec, fun spec, behavior spec and word spec. Are you not ?

[2019-02-12 13:31] sksamuel commented on #184
![image](https://user-images.githubusercontent.com/743706/52638719-7acc6d80-2eca-11e9-9971-25a331727890.png)

![image](https://user-images.githubusercontent.com/743706/52638730-81f37b80-2eca-11e9-8d6b-4e6d6ff9ad28.png)

![image](https://user-images.githubusercontent.com/743706/52638754-8ae44d00-2eca-11e9-9b52-6198333fd865.png)

[2019-02-12 16:58] j-h-a opened #650 "Adding KotlinTest runner prevents tests from running"
In Android Studio, Adding this line:
`testImplementation 'io.kotlintest:kotlintest-runner-junit5:3.2.1'`
to gradle prevents tests from being found in a suite.
Right clicking on the test module and choosing run comes back with "no tests were found".

Note: This also prevents any normal JUnit tests from running as well.

To reproduce, create a new empty project in Android Studio, using AndroidX. Add

[2019-02-12 17:03] bbaldino commented on #184
I'm using 3.3.0.2 plugin and kotlintest 3.3.0.1785-SNAPSHOT, but don't see the run icons for individual tests in ShouldSpec:

![image](https://user-images.githubusercontent.com/4016469/52653582-0d5a1600-2ea5-11e9-86aa-bf3d4a9c84c3.png)

[2019-02-12 17:15] sksamuel commented on #184
There's a bug I see where the outer context's don't work but the inner ones do for me.
![image](https://user-images.githubusercontent.com/743706/52654350-b0cd1a00-2ee9-11e9-9c7a-031fd35d277a.png)

Just to confirm whether it's a bug in the spec, or the entire plugin, can you create a StringSpec test just to see ?

[2019-02-12 17:18] bbaldino commented on #184
StringSpec looks ok

![image](https://user-images.githubusercontent.com/4016469/52654588-28c62080-2ea7-11e9-9f55-48fc912b2fd4.png)

[2019-02-12 17:29] sksamuel commented on #184
Maybe 3.3.0.2 didn't work with should and I'm daydreaming. 3.3.0.3 is pending approval at the moment which is what I just used.

[2019-02-12 22:20] sksamuel opened #651 "Remove old shouldBe methods"
For 3.3 are we removing the deprecated shouldBe methods that have been deprecated since 3.0 ?
@Kerooker

[2019-02-13 14:08] sksamuel commented on #184
@bbaldino 3.3.0.4 has been approved do you want to try that ?

[2019-02-13 15:36] BorzdeG opened #652 "During querying provider Run line marker (class com.intellij.execution.lineMarker.RunLineMarkerProvider)"
plugin: 3.3.0.4
IntelliJ IDEA 2019.1 Snapshot (Ultimate Edition)
Build #IU-191.5109.14, built on February 6, 2019
JRE: 1.8.0_202-release-1483-b4 amd64

[code]

[2019-02-13 15:58] sksamuel commented on #652
Which version of kotlintest ?

[2019-02-13 16:08] BorzdeG commented on #652
`3.2.1`

[2019-02-13 16:12] sksamuel commented on #652
I'm not sure if this is causing your error, but you need to be on 3.3.0-snapshot to use the plugin.
https://oss.sonatype.org/content/repositories/snapshots/io/kotlintest/

[2019-02-13 16:12] sksamuel commented on #652
But I think you error is just a parse issue. Can you show me the test that fails (I don't need what's inside the test method, just the "structure").

[2019-02-13 16:20] BorzdeG commented on #652
init state:
[code]

The error appears at the time of entering the opening brace of the test

[2019-02-13 16:29] sksamuel commented on #652
Ahh I see. You've started the lambda arg but not completed it, thus it's not available as a PsiElement. Ok I'll fix that.

[2019-02-13 16:30] sksamuel commented on #652
Thanks for the feedback, btw, please feel free to keep testing the plugin, it's not "officially" released yet.
With 3.3.0.4 and 3.3.0-snapshot you should be able to run tests which are fully formed.

[2019-02-13 16:31] BorzdeG commented on #652
Not necessary. You can not run the lambda - just click with the mouse after the closing parenthesis of the test so that the error reappears.

[2019-02-13 16:33] sksamuel commented on #652
Ok, well should be fairly easily for me to reproduce after work and fix it.

[2019-02-13 17:10] bbaldino commented on #184
Just updated the plugin, I still don't see them for my existing tests.  Weirdly, though, if I create a new test file they do show up (I tried closing and re-opening the pane for my existing test file, but they still don't show up there, and I had restarted IntelliJ after updating the plugin).

But, even with the new test file I notice that when I use the run button next to one test, all the tests

[2019-02-13 17:26] sksamuel commented on #184
Is there some output that says something like "xxxxx startsWith xxxxxx"

On Wed, 13 Feb 2019 at 17:11, bbaldino <notifications@github.com> wrote:

[2019-02-13 17:27] sksamuel commented on #184
As for your existing test - try adding a blank line somewhere to force
reparse.

On Wed, 13 Feb 2019 at 17:26, Stephen Samuel (Sam) <sam@sksamuel.com> wrote:

[2019-02-13 19:01] bbaldino commented on #184
I was seeing this when I first tried to run a single test, but I think since I tried running all the tests it no longer shows up (it just runs them all).

Tried a few different edits but can't get them to show up.

[2019-02-13 19:31] bbaldino commented on #184
I also just got a stacktrace from the kotlintest plugin:

[code]

[2019-02-13 21:04] sksamuel commented on #184
That error is the same as #652 which I will fix now and release a fix as 3.3.0.5

[2019-02-13 21:11] sksamuel opened #654 "Migrate intellij plugin to new repo"
I will migrate the plugin code to a separate repo so we can have a separate lifecycle. We can release patches for the plugin independently of the library.

[2019-02-13 21:12] sksamuel commented on #652
This is fixed in plugin release 3.3.0.5
Please try that once it's approved by Jetbrains.

[2019-02-13 21:37] #654 closed

[2019-02-13 22:21] #642 closed

[2019-02-13 22:21] #623 closed

[2019-02-13 22:21] #624 closed

[2019-02-13 22:22] #611 closed

[2019-02-13 22:26] #525 closed

[2019-02-13 22:33] #607 closed

[2019-02-13 23:15] sksamuel opened #656 "Disabled top level tests are not marked as ignored in JUnit"

[2019-02-14 06:55] sksamuel opened #657 "Matchers for java streams"

[2019-02-14 06:59] sksamuel opened #658 "Print types when equality fails but tostring is the same"

[2019-02-14 08:10] sksamuel commented on #652
3.3.0.5 has now been approved.
@BorzdeG @bbaldino

[2019-02-14 08:19] #656 closed

[2019-02-14 08:21] #658 closed

[2019-02-14 09:35] BorzdeG commented on #652
@sksamuel The error persisted. But now reproduced as follows:

Scenario 1:
1) Select all the code in the file
2) delete it

Scenario 2:
1) Create an empty file
2) insert the test code into it

In both scenarios, the code is analogous to the one above.
Video record?

[2019-02-14 09:40] sksamuel commented on #652
Yes that would be great thanks.

On Thu, 14 Feb 2019 at 09:35, Victor Alenkov <notifications@github.com>
wrote:

[2019-02-14 09:51] BorzdeG commented on #652
http://www.mediafire.com/file/f660d4y302rxpj3/simplescreenrecorder-2019-02-14_12.43.43.ogg/file

[2019-02-14 12:09] #650 closed

[2019-02-14 15:13] JustinTullgren opened #659 "FreeSpec Reporting Question"
Hi,

I have a question around FreeSpec reporting. I am only receiving the `should` message not the arbitrary nested strings in the gradle output and in intellij.

[code]

The report output is: `classname > should be ABC PASSED` and the same for the intellij reporter.

Is this expected?

Thanks!

[2019-02-14 16:55] #659 closed

[2019-02-14 22:58] #512 closed

[2019-02-15 14:56] #651 closed

[2019-02-16 20:06] #644 closed

[2019-02-16 20:10] #378 closed

[2019-02-16 20:11] sksamuel opened #661 "KotlinTest Roadmap 4.0"
Features and fixes for 4.0

**Rebrand**
- [x] - Update all docs to refer to new name
- [x] - Add typealias from io.kotlintest to io.kotest #1187
- [ ] - Blog / Article links for migration #1185
- [x] - Update logo #1171
- [ ] - Order stickers and distribute
- [x] - Update kotlin-awesome to point to new org #1185
- [x] - Transfer repo to new org.

**Docs**
- [ ] - Document usage for Kotlin/JVM in M

[2019-02-16 20:33] sksamuel opened #662 "Better toString with automatic support for Show for classes"
Possibly something along the lines of this:
https://github.com/npryce/hamkrest/blob/master/docs/describe.md
http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#custom-representation

We could use Show from Arrow.
https://arrow-kt.io/docs/apidocs/arrow-typeclasses/arrow.typeclasses/-show/index.html

[2019-02-16 20:40] sksamuel opened #663 "Matchers module for databases"
See https://github.com/joel-costigliola/assertj-db#readme

[2019-02-16 23:11] sksamuel opened #664 "forAll and forNone matchers on collections"
We have forAll and forNone _inspectors_ but they're not as easily found as assertion methods.
Maybe it's worth having simple versions like this

`names.forNone(_.isEmpty())`
`users.forAll(_.isActive())`

[2019-02-16 23:12] sksamuel opened #665 "between matcher for dates"
`mydate.isBetween(date1, date2)`

[2019-02-16 23:16] sksamuel opened #666 "isInstanceOf matcher should allow lamba for further tests"

[2019-02-16 23:23] sksamuel opened #667 "digest matchers"
`"some string".hasDigest("md5","dcb3015cd28447644c810af352832c19")`

`inputstream.hasDigest("md5","dcb3015cd28447644c810af352832c19")`

[2019-02-16 23:24] sksamuel opened #668 "Comparator matchers"
We should support isLessThan, isGreaterThan on any type which supports comparable.

[2019-02-18 12:29] sksamuel opened #680 "Add support for PiTest"
There is a PiTest plugin for JUnit5.

@boazy has created a PR to add support for dynamic tests to this plugin, so it would work for KotlinTest (and I guess other frameworks liek it). In the absence of this PR being merged (or maybe even if it is), is it worth adding PiTest support as a KotlinTest extension.

https://github.com/pitest/pitest-junit5-plugin/pull/22

[2019-02-18 12:36] sksamuel opened #681 "Split out assertions into separate project"
Let's discuss taking the KotlinTest assertions and making it a separate project - KotlinAssertions or something.

Pros:
 - Some people are under the mistaken impression the assertions are part of the test framework so maybe don't use them but they'd like to (understandable, it's not particularly clear they are stand alone)
- I believe KotlinTest assertions are the best available, and so this means

[2019-02-18 13:36] Kerooker opened #682 "Add documentation for SystemEnvironment Extension"

[2019-02-18 13:36] Kerooker opened #683 "Add documentation for Security Manager extension"

[2019-02-18 20:23] sksamuel opened #685 "Java files compiled with version 55"
Hey! I've been trying the new release to see if it's everything OK.

Not sure if this has something to do with this release, but when using the 3.3.0-RC2 version, I get this error:

`java.lang.UnsupportedClassVersionError: org/junit/jupiter/api/condition/EnabledIfSystemProperty has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtim

[2019-02-18 20:33] #685 closed

[2019-02-18 23:49] #680 closed

[2019-02-20 12:55] sksamuel opened #5553 "KotlinTest run configuration not detected"
Sure, the run configuration (this is used regardless of which green arrow I click):

![idea64_2019-02-20_12-39-08](https://user-images.githubusercontent.com/1588951/53092489-d58a4880-350c-11e9-8db5-4a2663eea7f1.png)

And here's the test output pane:

![idea64_2019-02-20_12-40-40](https://user-images.githubusercontent.com/1588951/53092498-d7540c00-350c-11e9-9d5c-a75756df262f.png)

Here's the releva

[2019-02-21 15:01] #682 closed

[2019-02-21 15:01] #683 closed

[2019-02-21 15:09] Kerooker opened #689 "Constant `now` listeners"
All the time pieces of code use `LocalDateTime.now()` or `LocalDate.now()` in their execution.

This is sometimes an issue, because you can't exactly test that it was actually `now`. For example:

[code]

This kind of code obviously fails, because calling `now` a second time will recalculate it with different milliseconds.

KotlinTest should have a Listener/Extension that allows this kind of testi

[2019-02-21 20:42] sksamuel opened #690 "New extension - profile"
Shows the slowest tests in your project.

[2019-02-21 20:45] sksamuel opened #691 "new extension - algo benchmark"
Would be nice to say something like

[code]

[code]

[2019-02-22 04:51] sksamuel opened #692 "FixtureSpec"
I see that in some test frameworks they like to create a _fixture_ and then refer to that in their tests.

First question - is there any fundamental difference between this:

[code]

and this:

[code]

Or is it just a case of people don't know the latter exists and / or they prefer the syntax of the former ?

Secondly, is it worth adding this support into a `FixtureSpec` whereby the final test sco

[2019-02-22 16:50] #689 closed

[2019-02-22 17:09] #478 closed

[2019-02-22 17:10] #398 closed

[2019-02-24 03:47] #665 closed

[2019-02-25 18:04] #666 closed

[2019-02-26 12:34] xcq1 opened #5551 "Exception when running specifically named tests in DescribeSpec"
If I try to run the `describe` or the `it` of a DescribeSpec I'm getting a weird exception:
[code]

I narrowed it down to the naming of the test case and came up with this rather odd minimal example:
[code]
As soon as I change the strings a little, it does work. Does not seem to be related to caching either as I can paste this in a brand new project and the same exception occurs.

Plugin: 3.3.0.8

[2019-02-26 15:40] sksamuel opened #696 "Extend FunSpec to allows contexts"
What about adding in optional `context("test name") {}` blocks into fun spec ?

[2019-02-27 00:55] sksamuel opened #697 "Prepare Changelog for 3.3"

[2019-02-27 19:59] sksamuel opened #698 "Extract invocations/threads out to the library level and add support for retry and min required passes"
I was thinking of deprecating invocations and replacing it with a function.

In other words moving the logic _out_ of the engine and into the test itself. There's actually no reason it needs to be in the engine.

[code]

And then we can combine `invocations`, `required`, `retry`, `threads` all into a single powerful command.

[code]

Or

[code]

The open question is, will this play nicely with iso

[2019-02-27 19:59] #641 closed

[2019-02-27 22:22] Kerooker opened #699 "Feature spec not enabling focus"
When trying to use FeatureSpec, it's impossible to focus a test.

This is likely due to the way we setup the test code:

```addTestCase(createTestName("Feature: ", name)```

we don't allow for F: to be placed before Feature

[2019-02-27 22:33] Kerooker commented on #699
I'll fix it in a quickie!

[2019-02-27 23:24] #699 closed

[2019-02-28 01:06] #696 closed

[2019-02-28 09:47] sksamuel opened #701 "Generators for arrow types"
Such as Either and Option and Try.

[2019-02-28 13:24] Kerooker opened #702 "Extension for mutation testing"
http://pitest.org/

Mutation testing is a rising testing methodology, and is supported by the library PiTest.

We should include an extension to enable mutant testing

[2019-02-28 14:18] #702 closed

[2019-02-28 15:28] BorzdeG opened #5549 "Plugin 'com.intellij.ideolog' failed to initialize and will be disabled"
https://github.com/JetBrains/ideolog/issues/50

IDEA:
[code]

kotlintest plugin: [3.3.0.9](https://github.com/kotlintest/kotlintest-intellij-plugin)
ideolog plugin: 191.0.7.0

[code]

[2019-02-28 18:27] #667 closed

[2019-02-28 18:27] #643 closed

[2019-03-01 00:16] #628 closed

[2019-03-01 01:07] #697 closed

[2019-03-01 01:21] #5553 closed

[2019-03-01 01:23] #5549 closed

[2019-03-01 01:24] #5551 closed

[2019-03-01 01:32] sksamuel opened #704 "Add shouldBeNaN / shouldBePositiveInfinity matcher and so on"
someDouble.shouldBeNan()
someDouble.shouldNotBeNan()
someDouble.shouldBePositiveInfinity()
... you get the idea

[2019-03-01 09:30] sschuberth opened #705 "IntelliJ plugin throws PluginException"
Directly after installing and restarting IntelliJ IDEA Ultimate I get:

[code]

[2019-03-01 11:06] sksamuel opened #706 "Multi line diff min line config option"
You can turn multi line off, but it doesn't activate until 50 lines or more.
I'd like to be able to control that via config or sys prop.

[2019-03-01 14:14] #705 closed

[2019-03-02 10:46] PCasafont opened #707 "Data Driven tests don't work with coroutines"
As of 3.3.0, when trying to use `forAll(table, fn)` in Spec coroutine scope it will not compile as there are no suspend versions of the data driven utility functions.

[2019-03-02 12:21] #5556 closed, assigned to sksamuel

[2019-03-03 06:14] sksamuel opened #708 "Standard out and standard err wire listeners"
Allow users to test what is written to std err and out by teeing the data.
My particular use case is to test the KotlinTest Console printer.

[2019-03-03 07:32] #708 closed

[2019-03-03 09:09] #664 closed

[2019-03-03 16:57] sksamuel opened #709 "Further enhance Arrow matchers"
Datatypes without matchers:

Id
Ior
Sum
...

[2019-03-04 14:36] ThanksForAllTheFish opened #710 "`config(threads=1)` seems to have no impact on `beforeSpec`"
I have a library storing information in a thread local variable and when upgrading from version `3.1.11` to version `3.3.0` I found out my integration test with such library broke. I was able to recreate the issue in a smaller sample here: https://github.com/ThanksForAllTheFish/kotlin-test

It seems `kotlintest` runs `beforeSpec` in a different thread than the test itself, even when using `config(

[2019-03-05 09:47] AlexBroadbent opened #711 "Matcher for "should be ignoring given field names""
Can we get a matcher for checking equality, without checking certain fields of the object.

Such as AssertJ's [isEqualToIgnoringGivenFields](https://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/AbstractObjectAssert.html#isEqualToIgnoringGivenFields(java.lang.Object,%20java.lang.String...)) method.

This is useful when I am trying to do a `shouldBe` check on two objects which ha

[2019-03-06 18:00] thibseisel opened #713 "WordSpec doesn't fully support coroutines"
Some test scopes in `WordSpec` does not fully support calling suspending functions:

[code]

One workaround is to wrap test code in a `launch { ... }` block (that is properly linked to the coroutine scope of `AbstractWordSpec.FinalTestContext`) but when the test fails, the assertion message is hidden behind a `JobCancelationException` which is not very readable.

[2019-03-07 06:36] #710 closed

[2019-03-07 07:51] #713 closed

[2019-03-08 14:10] #707 closed

[2019-03-08 17:08] #711 closed

[2019-03-08 17:21] Kerooker opened #717 "Property testing don't accept suspended lambdas"
In the same fashion of https://github.com/kotlintest/kotlintest/issues/707, the following code won't work:

[code]

[2019-03-10 20:11] Xerus2000 opened #720 "Folder ".kotlintest" created on every run"
Whenever I run my tests, a ".kotlintest" folder containing an empty "spec_failures" file is created in my project root. I really dislike behaviour like this and don't really understand why the file is created at all if it is empty in the end.
If you have to create it, please at least put it somewhere in the "build" folder.

[2019-03-11 22:35] sksamuel opened #5546 "Output error with table testing"
[code]

[2019-03-14 08:57] sschuberth opened #721 "beforeTest() / afterTest() not run between test invocations"
I'm unable to tell from the docs whether this works as designed, but I observed in kotlintest 3.3.1 that a test with `invocations` > 1 does not have its `beforeTest()` / `afterTest()` called in between invocations. Which in my case makes the second invocation fail as `afterTest()` does some required clean-up of a temporary directory which must not exist when the test starts.

Could you please clar

[2019-03-22 01:04] Kerooker opened #724 "Add type inference for `shouldNotBe`"
[code]

Having to cast result as String all the time wouldn't be necessary with `shouldNotBe null`.

[2019-03-22 01:44] #724 closed

[2019-03-26 18:29] sksamuel opened #731 "New matchers"
set.shouldBeSingleton()
list.shouldBeSingleton()

[2019-03-27 04:03] Kerooker commented on #731
Just shouldBeSingleton?

[2019-03-28 13:44] languitar opened #5544 "All tests run for 0 ms"
When I run tests using the Kotlintest run configuration, the report window shows 0 ms execution time for all tests cases even though they executed longer:

![2019-03-28T14:44:25+01:00](https://user-images.githubusercontent.com/1336287/55162381-04c55280-5168-11e9-9bd2-16a460e03b53.png)

[2019-03-29 16:32] code-schreiber opened #737 "Can't run kotlintest-runner-junit4 in Android Studio via "Run Tests""
First of all, let me start by saying thanks for opening up more possibilities when testing on Kotlin with such a modern library 👍

I've been having trouble introducing KotlinTest to a codebase that currently runs on Junit4, as many Android projects do due to the slow adoption of Junit5.

#### This is the shortcut I use to run tests
![screenshot](https://user-images.githubusercontent.com/759086/552

[2019-03-29 17:14] Kerooker opened #739 "Introduce `Gen.take(int)` function"
Sometimes people won't want to use `assertAll` or similars when using a Gen, but does want the generated values anyway (such as collection them in a list).

What about introducing a member function (can be an extension function as well) to allow collection of values in a Gen?

Perhaps

[code]

[2019-03-29 17:30] #731 closed

[2019-04-03 12:39] mrgalwen opened #746 "All maven sources JARs are empty since 3.3.0-RC1"
I noticed that all sources JARs located at Maven Repository are empty starting from version 3.3.0-RC1.

[2019-04-03 12:51] #746 closed

[2019-04-03 14:49] Kerooker opened #747 "Introduce `Gen.next(boolean)` function"
For the same reasons of #739, sometimes people want to use randomized values from the generators, without using it in `assertAll` or similars.

I propose we introduce a way to get a value from the Generator itself, similar to how functions from random work:

`Random.nextInt(0, 1000)`.

My proposal is to create a method called `name`, that takes an optional filter argument:

[code]

Currently, a wa

[2019-04-05 05:54] #720 closed

[2019-04-09 20:45] Kerooker opened #748 "Allow exclusion/inclusion of tags at runtime"

[2019-04-10 14:19] Kerooker opened #750 "Create matcher String.shouldBeEqualIgnoringCase"

[2019-04-11 15:14] LeoColman opened #5542 "Test with special characters won't show in intelliJ"
[code]

[2019-04-15 00:35] #750 closed

[2019-04-17 14:42] codyoss opened #753 "eventually should handle AssertionError by default"
Is there a good reason that kotlintest `eventually` does not handle AssertionError by default. I was reading another issue #145 and it seemed like it was talked about, but there was no clear reason to why this was not adopted...

To re-state what was said there, it would be nice to write:
[code]

instead of:
[code]

To me I can't think of too many use cases where I would not want to do an assertio

[2019-04-26 08:04] nomisRev opened #755 "Public internal classes"
Hi,

I ran into an issue today where my code conflicted with `KotlinTest` due to internals being public. [NamedThreadFactory](https://github.com/kotlintest/kotlintest/blob/1678cb5292097fce6f01aaae5fa3cee1960dcd1b/kotlintest-runner/kotlintest-runner-jvm/src/jvmMain/kotlin/io/kotlintest/runner/jvm/internal/NamedThreadFactory.kt)

Given that it's located in an internal package I assume this should al

[2019-04-30 12:02] christopheblin opened #756 "Intellij : is it possible to run a single method of a spec ?"
When you run a spec file in intellij and the spec file has multiple tests, is it possible to run only one of them ?

This is possible with a classical JUnit test, but it does not seem to work with kotlintest ...

This is very annoying when you have a dozen of tests and only one of them is failing because you can not assign a breakpoint easily :(

![Capture d’écran 2019-04-30 à 13 59 42](https://

[2019-04-30 13:20] #756 closed

[2019-05-05 00:37] #753 closed

[2019-05-06 03:29] #739 closed

[2019-05-06 16:02] jameskleeh opened #760 "Can extensions disable or skip a testcase?"
I'd like to skip or disable a test case in an interceptor

`fun beforeTest(testCase: TestCase)`

The `testCase.config` is final so I can't change it in the interceptor. Is there some other means of doing so?

[2019-05-06 16:10] #760 closed

[2019-05-06 18:32] #747 closed

[2019-05-07 21:10] dmstocking opened #763 "Enhance DescribeSpec with xMethods"
It would be awesome to be able to do Jasmine/Mocha tests with nested `describe`. I don't know if this would just be a change to the `DescribeSpec` or its own thing. The change is quite small none the less. It would also be nice to have `xdescribe` and `xit` to disable tests.

[code]

[2019-05-08 15:42] sgarfinkel opened #764 "File matchers should implicitly check File.shouldExist"
This should either be a documented feature (you need to always check `shouldExist` before calling any other matcher file matcher) or should just be done implicitly for the user (my preferred approach). Because the matchers just defer to the Java File/Path checks, they have no null checking. This results in unexpected NPEs.

A `shouldExist` check, in my mind, is implied if you are using any of the

[2019-05-09 06:42] gabrielittner opened #765 "Can't use forAll inside a given or when"
E.g.
[code]
This will result in `Suspension functions can be called only within coroutine body`.

[2019-05-09 16:06] #765 closed

[2019-05-10 16:53] sksamuel opened #766 "Release 3.3.3"
Can we release 3.3.3 with the .kotlintest folder turned off, and the other bug fixes we've seen.

[2019-05-10 18:22] sksamuel opened #767 "Turn off logging by default"
Even if your project does not define a logging file, KT must be providing one and spamming the user.

Eg,

[code]

[2019-05-10 18:24] #755 closed

[2019-05-10 21:26] sksamuel opened #768 "Discussion - new syntax for before / after / etc"
At the moment to do a before/after you must override a method.
This means it has to be outside the init {} block.

If however it was all done with lambdas, then it could all live inside the init block and you could always do constructor init blocks.

Eg,

[code]

I think this would mean we could ditch the init{} blocks completely.

[2019-05-11 15:15] haroldadmin opened #769 "How to use dependency injection with DescribeSpec?"
I want to use the [Koin](https://insert-koin.io) DI framework to inject dependencies in my DescribeSpec test class. In order to do that I need to have my test class implement the `KoinTest` interface. This is fine, but it does not really help at all because the tests are passed as a lambda to the constructor of the DescribeSpec class.

[code]

So even if my test class implements the `KoinTest` int

[2019-05-13 09:30] #769 closed

[2019-05-13 18:48] Kerooker opened #770 "Spring extension not autowiring values"
When I'm using the class

[code]

I expected this to work, as it should autowire the properties. However, it won't do that inside the test code itself, only inside beans.

[2019-05-13 20:05] Kerooker commented on #766
I want to include #770 too

[2019-05-13 23:57] #770 closed

[2019-05-14 20:45] leoxs22 opened #771 "Error handling in tests"
Hello!

I found a really serious bug on the test runner, when there is an exception in some test.

The effect is really hard to detect.

I have this stacktrace:

[code]

The problem is that this error is affecting other tests.

I think that kotlintest is ordering the tests to run alphabetically by name, so, when the engine throws this exception, it doesn't continue with any other test, and it does

[2019-05-16 03:49] magneticflux- opened #772 "Generators for Byte, Short, and experimental unsigned types"
It seems straightforward to add them. I can submit a pull request if desired.

[2019-05-20 18:36] master-bytes-krafter opened #774 "Dependent test"
Hello
Do you propose an idiomatic way to write test/groups of tests that depend on the outcome of other tests (i.e pointless to run if some other test failed) ?
This is particularly interesting to test some scenarios during integration testing and some testing frameworks provide this feature (e.g: TestNG)

Regards

[2019-05-21 12:53] #748 closed

[2019-05-22 14:46] dtieber opened #776 "Lifecycle behaviour in combination with BehaviorSpec"
## Description
I prefer BDD style which is why I'm using BehaviorSpec. However, I think there is an issue with lifecycle events. I read the documentation and it's not working as expected. Please mind the code below, which makes it easier to understand the issue.

There is only one test in my suite, but "beforeTest" is triggered three times. This leads to a problem because I'd like to verify an inv

[2019-05-22 15:41] #772 closed

[2019-05-22 16:17] sksamuel opened #777 "Snapshot testing."
Maybe some inspiration here:
https://github.com/Karumi/KotlinSnapshot

[2019-05-22 17:49] NeverwinterMoon opened #778 "Kotlin DSL + Android configuration example"
You have examples for Kotlin DSL configuration and Android Gradle one, but what about the Kotlin DSL on Android?

I think it makes sense to add configuration example using https://github.com/mannodermaus/android-junit5

[2019-05-22 18:29] sksamuel opened #779 "Allow seeds to be passed to the random instance in property tests"
This will allow a test to be re-run with the same random data.

[2019-05-22 18:31] sksamuel opened #780 "Allow min successful to be passed to property checks"
This would allow for some failures.

[2019-05-22 18:35] sksamuel opened #781 "Add more docs on eventually"
There seems to be an entire project which does exactly what our one single function `eventually` does. Let's add some more use cases to docs for our eventually function in case we've missed some cases.

https://github.com/awaitility/awaitility/wiki/Usage

[2019-05-23 20:05] sksamuel opened #782 "Improve and validate kotlintest works with spring boot"
Including things like @ActiveProfile

[2019-05-24 20:53] lenalebt opened #783 "withClue: Clues should be nestable"
Consider this case (taken from the tests):

[code]
The error message from the inner clue does not contain the outer clue, as in it is: `"clue inner: expected: \"4\" but was: \"3\""` and imho should be along the lines of `"clue outer: clue inner: expected: \"4\" but was: \"3\""`.

Sometimes it is very helpful when you get more information about what exactly went wrong in your test case. We're using

[2019-05-27 18:27] #782 closed

[2019-05-28 07:58] fraquack opened #786 "Limit Parallelism for some specs"
I'd like to use both Parallelism and System Extensions in my project.
Unfortunately  System Extensions can't run concurrently.
A good trade-off would be to limit only the concurrent execution of specs that make use of System Extensions. I'm thinking about a sort of tag to identify these specs, translated in a lock that prevents their concurrent execution.

For instance:
[code]

Would this implemen

[2019-05-28 11:33] sksamuel opened #787 "Gradle Plugin Improvements"
For our gradle plugin, I'd like to improve the output to log nested tests in a nicer way.

[2019-05-28 11:35] sksamuel opened #788 "KotlinTest Roadmap 3.4"
- [x] - Gradle Plugin Improvements #787
- [x] - io.kotlintest.Result conflicts with kotlin.Result #898
- [x] - Add support to Koin #515
- [x] - Global timeout #858
- [x] - Timeout config fails #879
- [x] - Allows nested describe scope #902
- [x] - Improved eventually #793 #781
- [x] - Added string matchers for single line and size between #853
- [x] - ShouldBeToday matcher #820
- [x] - Reflection

[2019-05-28 12:32] yaroslav-shlapak opened #789 "Update to 3.3.0+ leads to test framework error"
Reproduced on: Android Studio 3.5 Beta 2 and IntelliJ IDEA 2019.1.2
The test project to reproduce: https://github.com/yaroslav-shlapak/TestSpekProject

After update to 3.3.2 from 3.1.10 getting the error all the time when runnig tests:
![Screenshot from 2019-05-28 15-26-49](https://user-images.githubusercontent.com/3373419/58477780-107bc800-815d-11e9-9788-99ddd40ada8c.png)
[code]
3.1.10 and 3.2.1

[2019-05-29 02:34] ylt1534 opened #790 "withConstantNow only mock the NoParameterNowFunction"
I used the `Current instant listeners` to test the `now value` in my test code.

And I declared as following:
[code]

But I found that if the call is `ZonedDateTime.now(zoneId)` not  `ZonedDateTime.now()`, what I obtained is not the `fixed now value`.

By analyzing the source code, I found it seems that we just mock the `no parameter now function`.
So in order to be consistent with my test code. I

[2019-05-29 15:09] rses opened #791 "Map matcher should{Not}Contain support for Pairs"
At the moment, the most terse map matcher is of the form:

[code]

It would be nice to add support to be more fluid by using `Pair` to say:

[code]

This is a very small fix which I can create a PR for, but just checking if this is something that will be accepted.

[2019-05-29 19:54] Kerooker opened #793 "Eventually should allow configuration for space between requests"

[2019-05-29 20:01] #791 closed

[2019-05-29 20:50] sksamuel opened #794 "Would be handy to have "around advice" directly in the spec class"
[code]

[2019-05-29 21:01] sksamuel opened #795 "Before/After Test"
At the moment, we call all the before tests first, then all the after tests.
I think this should change.

[2019-05-30 17:43] sksamuel opened #796 "Split shrinker from Gen and then provide data class Gen"

[2019-05-31 08:13] #789 closed

[2019-05-31 19:10] sksamuel opened #797 "Exception did not fail build"
Maybe related to the other task you've been working on @Kerooker

Gradle Test Executor 1 STANDARD_ERROR
    May 31, 2019 7:06:43 PM org.junit.platform.launcher.core.DefaultLauncher handleThrowable
    WARNING: TestEngine with ID 'kotlintest' failed to discover tests
    java.lang.ExceptionInInitializerError
    	at java.base/java.lang.Class.forName0(Native Method)
    	at java.base/java.lang.Class

[2019-06-02 14:55] #783 closed

[2019-06-03 10:05] lenalebt opened #799 "KotlinTestEngine does not obey JUnit5 extension points"
Hi together,
I am currently trying to use Kotlintest together with Micronaut (https://docs.micronaut.io/latest/guide/index.html). Micronaut has some integration with JUnit5, and I am able to run tests with JUnit5.

However, I'd like to use Kotlintest. Digging on why it does not work correctly, I stumbled upon the `KotlinTestEngine` and as far as I understand, it does not emit the callbacks defined

[2019-06-03 20:56] sksamuel opened #800 "An error with shouldRight doesn't display a useful stack trace"
java.lang.AssertionError: Left(a=error) is of type class arrow.core.Either$Left but expected arrow.core.Either.Right

Then the stack trace is to the unit test definition, not the code point.

[2019-06-03 21:11] #800 closed

[2019-06-03 21:33] sksamuel opened #802 "use contracts for arrow matchers"
shouldBeLeft() { left -> }
shouldBeRight() { right ->

@Kerooker would this work or does it need generic contracts?

[2019-06-03 22:12] #337 closed

[2019-06-03 22:14] #498 closed

[2019-06-03 22:24] #681 closed

[2019-06-03 22:25] #382 closed

[2019-06-03 22:28] #499 closed

[2019-06-04 12:37] #704 closed

[2019-06-05 16:13] sksamuel opened #808 "Bug with discovery"
Gradle Test Executor 1 STANDARD_ERROR
    Jun 05, 2019 4:11:07 PM org.junit.platform.launcher.core.DefaultLauncher handleThrowable
    WARNING: TestEngine with ID 'kotlintest' failed to discover tests
    java.lang.ExceptionInInitializerError
    	at java.base/java.lang.Class.forName0(Native Method)
    	at java.base/java.lang.Class.forName(Class.java:291)
    	at io.kotlintest.runner.jvm.TestDisc

[2019-06-05 16:58] sksamuel opened #809 "Generate junit report even when no tests"
Our Jenkins job requires a junit test report or the build files.
Switching to KotlinTest and the build fails. We need to make sure we generate a report in the same way junit does.

[2019-06-05 21:24] Kerooker opened #810 "Add matchers for Throwables"
Throwables are usually tested regarding the message they'll display, the exception that caused them, and perhaps the stacktrace(this may be rarer.)

I usually see code like

[code]

Of course, this can be reduced to testing with a `shouldThrow` of some sort. But the point is, these matchers are always in the exact format.

So I propose

[code]

Maybe other matchers will fit here (such as `localize

[2019-06-05 21:29] Kerooker opened #811 "ShouldThrow matchers should allow testing for message and cause"
I said something about this at #810, but it can be a different issue.

I usually see code used with `shouldThrow` being used in this fashion:

[code]

We should come up with a syntax to allow the `shouldThrow` matchers (all of them, of course) to explicitly test for the message.

An idea would be to optionally receive a message parameter:

[code]

But I don't like this approach.

What I usually se

[2019-06-06 14:20] sksamuel opened #812 "Add gatling support"
https://gatling.io/

It uses it's own runner at the moment.

[2019-06-06 15:13] #522 closed

[2019-06-07 14:07] sksamuel opened #813 "Coroutine Matchers"

[2019-06-08 17:41] sksamuel opened #815 "Must allow seeding of the random values in gens"

[2019-06-09 04:56] sksamuel opened #816 "Figure out why kotlintest brings in logging to other projects"
Everytime I start a new project, I get loads of kotlintest logging.
Now, simply having the logging statements shouldn't matter. Something is bringing in a logging configuration and I think it's KT. Although the log4j dependencies are only in test scope.

[2019-06-10 15:24] sksamuel opened #817 "Some new matchers to add"
Pair.shouldBePair(x,y)
File.isSymbolicLink
Path.isSymbolicLink
File.shouldHaveParent
Path.shouldHaveParent
Number.shouldHaveRoot

The URI matchers should also work on URLs. I'll make another ticket covering that.

[2019-06-10 15:25] sksamuel opened #818 "The URI matchers should also work on URLs."
Good first ticket for a new contributor.

[2019-06-10 16:24] Kerooker opened #819 "ShouldBeZero matcher"
`Int`, `Double`, `Long`, (...) should have a special matcher to verify if it's zero.

This matcher should also have an opposite, to verify it's not zero.

[code]

Special cases to pay attention to: `Double.NaN` and `Double.POSITIVE_INFINITY`/`Double.NEGATIVE_INFINITY`.

These can be added to the `kotlintest-assertions` module. There can be a matcher for each numeric type, or a `Number` matcher tha

[2019-06-10 16:30] Kerooker opened #820 "ShouldBeToday matcher"
Sometimes we want to verify it a specific date/DateTime is today's date. For example when registering a Database Entity with a Creation Date (set to now).

[code]

This can be added to `kotlintest-assertions` module, to the package `io.kotlintest.matchers.date`.

You can add one method for each possible implementation, or create a generic one if you find a way.

A tip for the generic one may be in

[2019-06-11 06:52] kumarrishu commented on #622
Hi @jeremad,

[2019-06-11 07:45] kumarrishu commented on #622
After adding this ->

android {
 testOptions {
            unitTests.all {
                useJUnitPlatform()
            }
        }
}

 **I am getting error**
Could not write standard input to Gradle Test Executor 85.
java.io.IOException: The pipe is being closed
        at java.io.FileOutputStream.writeBytes(Native Method)
        at java.io.FileOutputStream.write(FileOutputStream.java:326)

[2019-06-11 16:20] Kerooker opened #821 "New matchers for BigDecimal: isZero, precision, scale, positive, negative"
We have many matchers for Numeric types, but not any matcher for BigDecimals.

We should include some, in a new package: `io.kotlintest.matchers.bigdecimal`, in the `kotlintest-assertions` subproject.

Some matchers that should be included (don't forget to add the negated version):

[code]

among others, if you find it necessary.

Remember to update the documentation as well, to add a new section:

[2019-06-11 16:23] #781 closed

[2019-06-11 18:15] sksamuel opened #822 "field extraction based matchers"
AssertJ has the ability to run assertions against arbitrary fields that you don't know at compile time.

So something like,

`any.shouldHaveFieldValue("field", "value")`

We can extract a type too

[code]

[2019-06-11 18:57] sksamuel opened #823 "Multi-line-string comparison for file contents"
AssertJ performs multi-line string comparison on file contents automatically.
Can KotlinTest do the same ?

[2019-06-11 21:51] reckter opened #824 "Coding Style"
Is there a reason that this project is using 2 instead of 4 spaces?
And have you considered using a linter? https://ktlint.github.io is a good, no configuration one, that follows the Kotlin coding convention.

I just wanted to contribute, but that 2 spacing rule really threw my IntelliJ and myself way of. Auto formatting is throwing a fit with the project files sadly :/

[2019-06-12 03:14] #808 closed

[2019-06-12 11:43] sksamuel opened #826 "Highlight diff when comparing data classes"
[code]

should output something like

[code]

[2019-06-12 11:45] sksamuel opened #827 "KotlinTest Roadmap 3.5"
- [ ] - Multi-line-string comparison for file contents #823
- [ ] - Coroutine Matchers #813
- [ ] - Generators for arrow types #701
- [ ] - KotlinTestEngine does not obey JUnit5 extension points #799
- [ ] - Highlight diff when comparing data classes #826
- [ ] - Dependent tests #774
- [ ] - General improvements to property testing #815 #796 #780
- [ ] - Property testing don't accept suspended lam

[2019-06-12 18:38] sksamuel opened #828 "New date matchers"
We should make sure we have matchers for all the parts of a date.

Like

`date.shouldHaveMinute(1)`
`date.shouldHaveDayOfWeek(3)` and so on

[2019-06-13 19:05] sksamuel opened #829 "Add mode to SystemEnvironmentProjectListener etc"
The mode should allow us to control when the env is added - always or only if it doesn't already exist.

`SystemEnvironmentProjectListener("ENV_NAME", "test", Mode.OVERWRITE)`

vs

`SystemEnvironmentProjectListener("ENV_NAME", "test", Mode.CREATE)`

[2019-06-13 19:45] sksamuel opened #830 "Launching coroutine in test lambda does not attach to the correct scope"
Seems like its not handled so the test doesn't complete properly.

[2019-06-14 17:08] Mahoney opened #833 "Specs that fail in initialisation fail a Maven build"
KotlinTest fails to notify the Maven Surefire plugin properly via the
JUnit platform if a spec throws an exception during initialisation.

See https://github.com/Mahoney/maven-kotlintest for an example of the
problem.

Would be fixed if #832 is merged.

[2019-06-15 19:43] sksamuel opened #835 "Gradle Plugin Failure Output Improvements"
For our gradle plugin I'd like to highlight the lines in a stack trace that are most useful. For example you might choose to highlight your own package names.

![image](https://user-images.githubusercontent.com/743706/58475064-8ad32a80-8112-11e9-9990-edd868efdfb9.png)

[2019-06-17 14:56] sksamuel opened #836 "Add matchers for Result"
Jetbrains added the `Result` type, a bit like the `Try` type from arrow.
We should add matchers for this.

[2019-06-17 15:00] #833 closed

[2019-06-17 15:59] sksamuel opened #837 "Before/AfterSpec and before/afterTest should support suspendable functions"

[2019-06-17 21:49] sksamuel opened #838 "New file matcher:"
`path.containsFileDeep(child: String)`

Searches the given path for the child. It can be either be a direct child or a deep child.

[2019-06-19 14:10] sksamuel opened #841 "Add print statement for config"
To make it clear project config was discovered

[2019-06-19 20:14] sksamuel opened #842 "Allow setting isolation mode in project config"

[2019-06-21 07:49] kdabir opened #849 "Configurable location of .kotlintest dir"
From the source,  it looks like the [current location](https://github.com/kotlintest/kotlintest/blob/88afb914d145f1e1244c779358cd05ab1e040038/kotlintest-runner/kotlintest-runner-junit5/src/main/kotlin/io/kotlintest/runner/junit5/JUnitTestRunnerListener.kt#L112) is relative to CWD .

Ideally, `.kotlintest` dir should be created inside build directory so that it can get cleaned when we run the build

[2019-06-21 13:24] sksamuel opened #850 "Increasing/Decreasing list/seq matchers"
list.shouldBeMonotonicallyIncreasing // 1,2,2,2,3,3,5,6
list.shouldBeStrictlyIncreasing // 1,2,7,8

same for decreasing.

Could work on any type that we have a comparator for as well as the built in common types.

[2019-06-21 13:28] sksamuel opened #851 "Stats matchers"
list.shouldHaveMean(123.45)
list.shouldHaveStandardDeviation(55.123)
list.shouldHaveVariance(9.4)

[2019-06-21 13:30] sksamuel opened #852 "Assertions count"
It would be good if we could fail a test if no assertions were called in that test (perhaps optionally).
Sometimes you may write a test with some callback or async code and it's not obvious that the assertions were not invoked.

[2019-06-21 13:31] sksamuel opened #853 "New string matchers"
string.shouldBePalindrome()
string.shouldBeOneLine()

[2019-06-21 13:33] sksamuel opened #854 "New file matchers"
dir.shouldContainFilenames("a.txt", "b.gif")

[2019-06-21 13:33] sksamuel opened #855 "new KTor matchers"
response.shouldHaveCookie("name", "value")

[2019-06-21 14:00] #838 closed

[2019-06-21 14:02] #842 closed

[2019-06-21 18:03] sockeqwe opened #856 "Discovering Test failed in Android Project"
Hi,
I'm pretty sure I messed up something in my configuration of my android app but I couldn't find out yet what the problem could be.

If I start a `BehaviorSpec` from my (jvm) tests (not android instrumentation tests) I get the following error:

I'm using the latest version of kotlin test and have also configured it as I did in other projects (android libraries) before and there it works seamles

[2019-06-21 18:37] #818 closed

[2019-06-22 15:49] #854 closed

[2019-06-22 15:51] sksamuel opened #858 "Global timeout"

[2019-06-22 19:59] sksamuel opened #859 "beforeProject / afterProject in TestListener is confusing"
These methods won't be invoked in a test listener, so they should be in some kind of project listener.

[2019-06-23 21:58] #819 closed

[2019-06-25 20:51] alladywek opened #863 "Use expression for tags instead of include/exclude"
Tags are defenitely good idea to group your tests but current include/exclude implementation doesn't provide enough flexibility.
I want to use simple expressions like in [Junit5](https://junit.org/junit5/docs/current/user-guide/#running-tests-tag-expressions)
It will give users write simple and readable expressions:

It could be implemented as extension or replace current solution in next release.

[2019-06-26 14:15] #824 closed

[2019-06-26 16:16] #855 closed

[2019-07-01 01:53] #841 closed

[2019-07-01 17:19] gchallen opened #867 "java.lang.StackOverflowError on First Test Case Using 3.3.3"
We have a ~100 test kotlintest suite. After upgrading Kotlintest from 3.3.2 -> 3.3.3 it seems that the _first_ test run in any configuration that uses coroutines—whether running a single test or the entire suite—fails with the following `java.lang.StackOverflow` error:

Our codebase is [here](https://github.com/cs125-illinois/jeed/) if want to try reproducing the problem.

[code]

[2019-07-01 18:17] leoxs22 opened #868 "Test time is being wrongly reported"
Hello!

I was looking at the test times, and I find that the time reported at the right, using Intellij, is not the real time the test took

![image](https://user-images.githubusercontent.com/9098977/60457688-ff6a1f00-9c12-11e9-96c9-3d0b34bce5e2.png)

In this case, I did a repeat(100000) of something that reads a file, and it took about 10 minutes, but the time reported is only 17ms.

You can easi

[2019-07-02 17:11] sksamuel opened #869 "shouldHaveLength should show the length on failure"
Currently it will say

java.lang.AssertionError: qwerty should have length 32

[2019-07-03 12:02] sksamuel opened #872 "Add documentation for JSON matchers"
We have nice json matchers in the json module so instead of doing:

`myAvroSchema shouldBe """{"type":"record","name":"Foo","namespace":"com.sksamuel.avro4k.schema"}"""`

We can do

`myAvroSchema.shouldMatchJson("""{"type":"record","name":"Foo","namespace":"com.sksamuel.avro4k.schema"}""")`

Which will allow the json to be formatted differently, as long as the contents are the same.

We should doc

[2019-07-03 12:04] sksamuel opened #873 "Json Matchers from resources"
We have json matchers already that mach against json strings, but we should also allow json matchers against resources.

So instead of

`myAvroSchema.shouldMatchJson("""{"type":"record","name":"Foo","namespace":"com.sksamuel.avro4k.schema"}""")`

We can put this in a resource file and do

`myAvroSchema.shouldMatchJsonResource("/schema1.json")`

Documentation should be added also, as a follow on to

[2019-07-03 12:10] #873 closed

[2019-07-03 12:45] #869 closed

[2019-07-03 12:46] #836 closed

[2019-07-03 13:39] #821 closed

[2019-07-03 15:40] sksamuel opened #876 "Improve ktor matcher"
When you do this in ktor `response.shouldHaveStatus(200)` it would be useful if the error message contained the body as well, as that often contains a reason why it's not the expected code.

[2019-07-04 13:22] sksamuel opened #877 "Improvements to ProjectConfig output"
I'm loving the new project config output @faogustavo

[code]

I think it would be good if we skip output on things that are empty - in this case Listeners and Filters.

[2019-07-04 14:42] #868 closed

[2019-07-05 02:01] #877 closed

[2019-07-05 03:33] #817 closed

[2019-07-05 18:50] #811 closed

[2019-07-07 15:59] Nimamoh opened #879 "Timeout config fails"
Hello,

Using the release `3.3.2`. This example test runs 10 seconds then success

[code]

According to the doc, I'd expect the test to be cancelled after 1 second and fail

[2019-07-08 16:53] sksamuel opened #880 "Date comparisons fail for two equal dates but different time zones"
For example, Chicago is 6 hours behind UTC (outside of daylight savings).

Therefore, this should pass:

[code]

As this represents the same time.

We can either leave shouldBe and add another matcher `shouldBeSameTime`. Or fix shouldBe and add another matcher `shouldBeExactly` which checks for equal time zones.

Either way, the status quo isn't good enough.

[2019-07-09 11:32] LimmaPaulus opened #882 "Run beforeTest only before last element in nested test structure"
Hi!
It seems that beforeTest is currently ran before each "level" of test, at least when using FreeSpec. Would it be possible to run it only before actual test invocation i.e. last element in nested scopes. Consider this example:
[code]

I do some relatively heavy database initializations before my integration tests, and current way to execute beforeTests is slowing testing down quite miserably.

[2019-07-10 10:10] lwasyl opened #883 ""Run Context Configuration" command in AS runs whole test class instead of single test"
I have this simple class with two tests:

[code]

Now in normal JUnit4 tests, when I have cursor placed inside a test method and press shortcut for `Run Context Configuration`, only that one test runs. If I the cursor is within the class but not the test, all tests in class run.

With KotlinTest, regardless of cursor position, all tests in the class are executed. Here's what searching for `Run con

[2019-07-10 12:35] lwasyl opened #884 "Standard output is not grouped in AS/IntelliJ run window"
Given a simple test class:
[code]

when running this from AndroidStudio, the standard output is not assigned to each test properly:

![image](https://user-images.githubusercontent.com/3951580/60969238-52348c80-a31f-11e9-95d0-45b525df3665.png)

![image](https://user-images.githubusercontent.com/3951580/60969243-5660aa00-a31f-11e9-94c0-beb0d0a91cc5.png)

The output is even more confusing with `per l

[2019-07-10 16:16] sksamuel opened #885 "Channel matchers"
Channels are a great new feature of coroutines.
We should add the following matchers:

`channel.shouldReceiveWithin(duration)` // that the channel receives an element within the duration
`channel.shouldReceiveNoElementsWithin(duration)` // that the channel receives no elements within the given duration
`channel.shouldHaveSize(int)` // that the channel receives exactly int elements then closes
`cha

[2019-07-10 21:39] #829 closed

[2019-07-12 18:32] Kerooker opened #886 "Add support to Spring Boot's TestExecutionListener"
Spring Boot defines an API for test execution listener. It seems to be similar to ours, but KT is not working with them at the current state.

https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/test/context/TestExecutionListener.html

An example of this feature can be found at @Sql, at this guide:
https://docs.spring.io/spring/docs/current/spring-framework-referen

[2019-07-13 16:51] #662 closed